.dashboard-card {
    background: rgb(255 255 255 / 11%);
}

/*.dashboard-card > div > div > div > h5, span {*/
/*    color: white !important;*/
/*}*/

.dashbaord-card-icons {
    filter: invert(81%) sepia(99%) saturate(2%) hue-rotate(63deg) brightness(110%) contrast(101%);
}

/*.graph-btn ul li a.active span{*/
/*   background: linear-gradient(*/
/*                87deg, #027975, #211860 100%) !important;*/
/*}*/
/*.graph-btn-bg>span:hover {*/
/*    color: white !important;*/
/*}*/
.graph-btn-bg:hover {
    background: linear-gradient(
            87deg, #027975, #211860 100%) !important;
    color: white !important;
}

.graph-btn-bg {
    color: black !important;
}

.graph-btn-bg.active {
    background: linear-gradient(
            87deg, #027975, #211860 100%) !important;
    color: white !important;
}
