{% extends 'accounting/base.html' %}
{% load widget_tweaks %}

{% block content %}


    <div class="page-content">
        <div class="page-title">
            <div class="row justify-content-between align-items-center">
                <div
                        class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                    <div class="d-inline-block">
                        <h5 class="h4 d-inline-block font-weight-400 mb-0 "> Assets
                        </h5>
                    </div>
                </div>
                <div
                        class="col-xl-8 col-lg-8 col-md-8 d-flex align-items-center justify-content-between justify-content-md-end">
                    <div class="all-button-box row d-flex justify-content-end">
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                            <a href=""
                               data-toggle="modal"
                               data-target="#addModal"
                               data-title="Create New Assets" class="btn btn-xs btn-white btn-icon-only width-auto">
                                <i class="fas fa-plus"></i> Create
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body py-0">
                        <div class="table-responsive">
                            <table class="table table-striped mb-0 dataTable">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Purchase Date</th>
                                    <th>Supported Date</th>
                                    <th>Amount</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for asset in all_assets %}
                                    <tr>

                                        <td class="font-style">{{ asset.name }}</td>
                                        <td class="font-style">{{ asset.purchase_date }}</td>
                                        <td class="font-style">{{ asset.supported_date }}</td>
                                        <td class="font-style">${{ asset.amount }}</td>
                                        <td class="font-style">{{ asset.description }}</td>
                                        <td class="Action">
                                        <span>
                                             <a href="#" class="edit-icon"
                                                   data-url="{% url "edit-asset" asset.pk %}"
                                                   data-ajax-popup="true"
                                                   data-title="Edit asset"
                                                   data-toggle="modal"
                                                   data-target="#commonModal"
                                                   data-original-title="Edit">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                            <a href="#"
                                               class="delete-icon"
                                               data-toggle="tooltip"
                                               data-original-title="Delete"
                                               data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?"
                                               data-confirm-yes="document.getElementById('{{ asset.id }}').submit();">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                                <form method="POST" action="{% url 'delete-asset' asset.id %}"
                                                      accept-charset="UTF-8" id="{{ asset.id }}">
                                                    {% csrf_token %}
                                                </form>
                                                                                    </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <div class="modal fade" id="commonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-content">
                    <div>
                        <h4 class="h4 font-weight-400 float-left modal-title" id="exampleModalLabel"></h4>
                        <a href="#" class="more-text widget-text float-right close-icon" data-dismiss="modal"
                           aria-label="Close">Close</a>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div>
                    <h4 class="h4 font-weight-400 float-left modal-title" id="exampleModalLabel">Create a new Asset</h4>
                    <a href="#" class="more-text widget-text float-right close-icon" data-dismiss="modal"
                       aria-label="Close">Close</a>
                </div>

                <div class="modal-body">
                    <div class="card bg-none card-box">
                        <form method="POST" action="{% url 'add-asset' %}" accept-charset="UTF-8">
                            {% csrf_token %}

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name" class="form-control-label">Name</label>
                                    {% render_field asset_form.name class="form-control" %}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="amount" class="form-control-label">Amount</label>
                                    {% render_field asset_form.amount class="form-control" %}
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="purchase_date" class="form-control-label">Purchase Date</label>
                                    {% render_field asset_form.purchase_date class="form-control" %}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="supported_date" class="form-control-label">Supported Date</label>
                                    {% render_field asset_form.supported_date class="form-control" %}
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="description" class="form-control-label">Description</label>
                                    {% render_field asset_form.description class="form-control" %}
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" value="Create" class="btn-create badge-blue">
                                    <input type="button" value="Cancel" class="btn-create bg-gray"
                                           data-dismiss="modal">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}