{% extends 'accounting/base.html' %}

{% block content %}

    <div class="modal fade" id="commonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div>
                    <h4 class="h4 font-weight-400 float-left modal-title" id="exampleModalLabel"></h4>
                    <a href="#" class="more-text widget-text float-right close-icon" data-dismiss="modal"
                       aria-label="Close">Close</a>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="page-title">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                    <div class="d-inline-block">
                        <h5 class="h4 d-inline-block font-weight-400 mb-0 "> Dashboard
                        </h5>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 d-flex align-items-center justify-content-between justify-content-md-end">
                </div>
            </div>
        </div>

        {#        <div class="row">#}
        {#            <div class="col-3">#}
        {#                <div class="alert alert-danger text-xs">#}
        {#                    Please add constant taxes. <a href="http://127.0.0.1:8000/taxes"><b>click here</b></a>#}
        {#                </div>#}
        {#            </div>#}
        {##}
        {#        </div>#}
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="card card-box">
                    <div class="left-card">
                        <div class="icon-box bg-success"><i class="fas fa-users"></i></div>
                        <h4>Total Clients</h4>
                    </div>
                    <div class="number-icon">{{ clients.count }}</div>
                </div>
                <img src="http://127.0.0.1:8000/assets/img/dot-icon.png" alt="" class="dotted-icon">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="card card-box">
                    <div class="left-card">
                        <div class="icon-box bg-warning"><i class="fas fa-user"></i></div>
                        <h4>Total Vendors</h4>
                    </div>
                    <div class="number-icon">{{ vendors.count }}</div>
                </div>
                <img src="http://127.0.0.1:8000/assets/img/dot-icon.png" alt="" class="dotted-icon">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="card card-box">
                    <div class="left-card">
                        <div class="icon-box bg-primary"><i class="fas fa-money-bill"></i></div>
                        <h4>Total Invoices</h4>
                    </div>
                    <div class="number-icon">0</div>
                </div>
                <img src="http://127.0.0.1:8000/assets/img/dot-icon.png" alt="" class="dotted-icon">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="card card-box">
                    <div class="left-card">
                        <div class="icon-box bg-dagner"><i class="fas fa-database"></i></div>
                        <h4>Total Bills</h4>
                    </div>
                    <div class="number-icon">0</div>
                </div>
                <img src="http://127.0.0.1:8000/assets/img/dot-icon.png" alt="" class="dotted-icon">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div>
                    <h4 class="h4 font-weight-400 float-left">Cashflow</h4>
                    <h6 class="last-day-text">Last <span>15 days</span></h6>
                </div>
                <div class="card bg-none">
                    <div id="cash-flow" class="chartjs-render-monitor custom-scroll"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <h4 class="h4 font-weight-400">Income Vs Expense</h4>
                <div class="card bg-none dashboard-box-1">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <tbody class="list">
                            <tr>
                                <td>
                                    <h4 class="mb-0">Income</h4>
                                    <h5 class="mb-0">Today</h5>
                                </td>
                                <td>
                                    <h3 class="green-text">${{ income_today }}</h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4 class="mb-0">Expense</h4>
                                    <h5 class="mb-0">Today</h5>
                                </td>
                                <td>
                                    <h3 class="red-text">${{ expense_today }}</h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4 class="mb-0">Income This</h4>
                                    <h5 class="mb-0">Month</h5>
                                </td>
                                <td>
                                    <h3 class="green-text">${{ income_this_month }}</h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4 class="mb-0">Expense This</h4>
                                    <h5 class="mb-0">Month</h5>
                                </td>
                                <td>
                                    <h3 class="red-text">${{ expense_this_month }}</h3>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-xl-8 col-lg-8 col-md-8">
                <div class="">
                    <h4 class="h4 font-weight-400 float-left">Account Balance</h4>
                </div>
                <div class="card bg-none dashboard-box-1">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                            <tr>
                                <th>Bank</th>
                                <th>Holder Name</th>
                                <th>Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="font-style">
                                <td></td>
                                <td>Cash</td>
                                <td>$-1,000.00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div>
                    <h4 class="h4 font-weight-400 float-left">Income &amp; Expense</h4>
                    <h6 class="last-day-text">Current Year - {% now "Y" %}</h6>
                </div>
                <div class="card bg-none">
                    <div class="custom-scroll">
                        <div id="incExpBarChart" height="250"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12 col-12 col-sm-12">
                <div>
                    <h4 class="h4 font-weight-400 float-left">Income By Service Type</h4>
                    <h6 class="last-day-text">Current Year - 2022</h6>
                </div>
                <div class="card bg-none">
                    <div class="card-body align-self-center height-440">
                        <div id="incomeByCategory"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-12 col-sm-12">
                <div>
                    <h4 class="h4 font-weight-400 float-left">Expense By Category</h4>
                    <h6 class="last-day-text">Current Year - 2022</h6>
                </div>
                <div class="card bg-none">
                    <div class="card-body align-self-center height-440">
                        <div id="expenseByCategory"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="">
                    <h4 class="h4 font-weight-400 float-left">Latest Income</h4>
                    <a href="{% url "direct-income" %}" class="more-text history-text float-right">View All</a>
                </div>
                <div class="card bg-none dashboard-box-1">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Customer</th>
                                <th>Amount Due</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            {% for income in latest_incomes %}
                                <tr>

                                    <td>{{ income.dated }}</td>
                                    <td>{{ income.reservation.client.name }}</td>
                                    <td>${{ income.amount }}</td>
                                    <td>{{ income.description }}</td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="">
                    <h4 class="h4 font-weight-400 float-left">Latest Expense</h4>
                    <a href="{% url "expenses" %}" class="more-text history-text float-right">View All</a>
                </div>
                <div class="card bg-none dashboard-box-1">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Customer</th>
                                <th>Amount Due</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody class="list">

                            {% for expense in latest_expenses %}
                                <tr>
                                    <td>{{ expense.dated }}</td>
                                    <td>{% if expense.reservation.client.name %}
                                        {{ expense.reservation.client.name }}
                                    {% else %}
                                        {{ expense.reservation.company.name }}
                                    {% endif %}
                                    </td>
                                    <td>${{ expense.amount }}</td>
                                    <td>{{ expense.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="">
                    <h4 class="h4 font-weight-400 float-left">Invoices</h4>
                </div>
                <div class="card bg-none invo-tab dashboard-box-2">
                    <ul class="nav nav-tabs">
                        <li>
                            <a data-toggle="tab" href="#weekly_statistics" class="active">Weekly Statistics</a>
                        </li>
                        <li class="annual-billing">
                            <a data-toggle="tab" href="#monthly_statistics" class="">Monthly Statistics</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="weekly_statistics" class="tab-pane in active">
                            <div class="table-responsive">
                                <table class="table align-items-center mb-0">
                                    <tbody class="list">
                                    <tr>
                                        <td>
                                            <h4 class="mb-0">Total</h4>
                                            <h5 class="mb-0">Invoice Generated</h5>
                                        </td>
                                        <td>
                                            <h3 class="green-text">$0.00</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 class="mb-0">Total</h4>
                                            <h5 class="mb-0">Paid</h5>
                                        </td>
                                        <td>
                                            <h3 class="red-text">$0.00</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 class="mb-0">Total</h4>
                                            <h5 class="mb-0">Due</h5>
                                        </td>
                                        <td>
                                            <h3 class="green-text">$0.00</h3>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="monthly_statistics" class="tab-pane">
                            <div class="table-responsive">
                                <table class="table align-items-center mb-0 ">
                                    <tbody class="list">
                                    <tr>
                                        <td>
                                            <h4 class="mb-0">Total</h4>
                                            <h5 class="mb-0">Invoice Generated</h5>
                                        </td>
                                        <td>
                                            <h3 class="green-text">$0.00</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 class="mb-0">Total</h4>
                                            <h5 class="mb-0">Paid</h5>
                                        </td>
                                        <td>
                                            <h3 class="red-text">$0.00</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 class="mb-0">Total</h4>
                                            <h5 class="mb-0">Due</h5>
                                        </td>
                                        <td>
                                            <h3 class="green-text">$0.00</h3>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-9 col-lg-8 col-md-6">
                <div class="">
                    <h4 class="h4 font-weight-400 float-left">Recent Invoices</h4>
                </div>
                <div class="card bg-none dashboard-box-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Customer</th>
                                <th>Issue Date</th>
                                <th>Due Date</th>
                                <th>Amount</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            <tr>
                                <td colspan="6">
                                    <div class="text-center">
                                        <h6>there is no recent invoice</h6>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-6">
                <div class="">
                    <h4 class="h4 font-weight-400 float-left">Recent Bills</h4>
                </div>
                <div class="card bg-none dashboard-box-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Vendor</th>
                                <th>Bill Date</th>
                                <th>Due Date</th>
                                <th>Amount</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            <tr>
                                <td colspan="6">
                                    <div class="text-center">
                                        <h6>there is no recent bill</h6>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="">
                    <h4 class="h4 font-weight-400 float-left">Bills</h4>
                </div>
                <div class="card bg-none invo-tab dashboard-box-2">
                    <ul class="nav nav-tabs">
                        <li>
                            <a data-toggle="tab" href="#bill_weekly_statistics" class="active">Weekly Statistics</a>
                        </li>
                        <li class="annual-billing">
                            <a data-toggle="tab" href="#bill_monthly_statistics" class="">Monthly Statistics</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="bill_weekly_statistics" class="tab-pane in active">
                            <div class="table-responsive">
                                <table class="table align-items-center mb-0">
                                    <tbody class="list">
                                    <tr>
                                        <td>
                                            <h4 class="mb-0">Total</h4>
                                            <h5 class="mb-0">Bill Generated</h5>
                                        </td>
                                        <td>
                                            <h3 class="green-text">$0.00</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 class="mb-0">Total</h4>
                                            <h5 class="mb-0">Paid</h5>
                                        </td>
                                        <td>
                                            <h3 class="red-text">$0.00</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 class="mb-0">Total</h4>
                                            <h5 class="mb-0">Due</h5>
                                        </td>
                                        <td>
                                            <h3 class="green-text">$0.00</h3>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="bill_monthly_statistics" class="tab-pane">
                            <div class="table-responsive">
                                <table class="table align-items-center mb-0">
                                    <tbody class="list">
                                    <tr>
                                        <td>
                                            <h4 class="mb-0">Total</h4>
                                            <h5 class="mb-0">Bill Generated</h5>
                                        </td>
                                        <td>
                                            <h3 class="green-text">$0.00</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 class="mb-0">Total</h4>
                                            <h5 class="mb-0">Paid</h5>
                                        </td>
                                        <td>
                                            <h3 class="red-text">$0.00</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 class="mb-0">Total</h4>
                                            <h5 class="mb-0">Due</h5>
                                        </td>
                                        <td>
                                            <h3 class="green-text">$0.00</h3>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div>
                    <h4 class="h4 font-weight-400 float-left">Goal</h4>
                    <div class="card pb-0">
                        <div class="card-body text-center">
                            <h6>There is no goal.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}

    <script>
        console.log("[{% for label in date_list %} {{ label }}, {% endfor %}]",)
        $(document).ready(function () {
            let images = $("img")
            for (let img of images) {
                console.log(img)
                let t = 0
                let src = img.src
                console.log(img.src)
                const result = src.replace(/\/\//g, match => ++t === 2 ? '/' : match)
                img.src = result
            }
        })

    </script>
    <script>
        var dataTabelLang = {
            paginate: {previous: "Previous", next: "Next"},
            lengthMenu: "Show _MENU_ entries",
            zeroRecords: "No data available in table",
            info: "Showing _START_ to _END_ of _TOTAL_ entries",
            infoEmpty: " ",
            search: "Search:"
        }
    </script>

    <script>moment.locale('en');</script>

    <script>
        var toster_pos = "right";
    </script>

    <script>
        var date_picker_locale = {
            format: 'YYYY-MM-DD',
            daysOfWeek: [
                "Sun",
                "Mon",
                "Tue",
                "Wed",
                "Thu",
                "Fri",
                "Sat"
            ],
            monthNames: [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December"
            ],
        };
        var calender_header = {
            today: "today",
            month: 'month',
            week: 'week',
            day: 'day',
            list: 'list'
        };
    </script>

    <script>
        var options = {
            series: [
                {
                    name: "Income",
                    data: [{% for label in income_list %} {{ label }}, {% endfor %}]


                },
                {
                    name: "Expense",
                    data: [{% for label in expense_list %} {{ label }}, {% endfor %}]
                }
            ],
            chart: {
                height: 350,
                type: 'line',
                dropShadow: {
                    enabled: true,
                    color: '#000',
                    top: 18,
                    left: 7,
                    blur: 10,
                    opacity: 0.2
                },
                toolbar: {
                    show: false
                }
            },
            colors: ['#77B6EA', '#545454'],
            dataLabels: {
                enabled: true,
            },
            stroke: {
                curve: 'smooth'
            },
            title: {
                text: '',
                align: 'left'
            },
            grid: {
                borderColor: '#e7e7e7',
                row: {
                    colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                },
            },
            markers: {
                size: 1
            },
            xaxis: {
                categories: [{% for label in date_list %} "{{ label }}", {% endfor %}],
                title: {
                    text: 'Days'
                }
            },
            yaxis: {
                title: {
                    text: 'Amount'
                },

            },
            legend: {
                position: 'top',
                horizontalAlign: 'right',
                floating: true,
                offsetY: -25,
                offsetX: -5
            }
        };
        var chart = new ApexCharts(document.querySelector("#cash-flow"), options);
        chart.render();


        var SalesChart = {
            series: [
                {
                    name: "Income",
                    data: [{% for label in income_by_month %} {{ label }}, {% endfor %}]
                },
                {
                    name: "Expense",
                    data: [{% for label in expense_by_month %} {{ label }}, {% endfor %}]
                }
            ],
            colors: ['#77B6EA', '#545454'],
            chart: {
                type: 'bar',
                height: 430
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    dataLabels: {
                        position: 'top',
                    },
                }
            },
            dataLabels: {
                enabled: true,
                offsetX: -6,
                style: {
                    fontSize: '12px',
                    colors: ['#fff']
                }
            },
            stroke: {
                show: true,
                width: 1,
                colors: ['#fff']
            },
            xaxis: {
                categories: [{% for label in month_of_year %} "{{ label }}", {% endfor %}],
            },
        };
        var sales = new ApexCharts(document.querySelector("#incExpBarChart"), SalesChart);
        sales.render();


        var incomeCategories = {
            series: [10, 20],
            {#series: [0],#}

            chart: {
                width: '400px',
                type: 'pie',
            },
            colors: ["#2a328f"],
            labels: ["Rides"],

            plotOptions: {
                pie: {
                    dataLabels: {
                        offset: -5
                    }
                }
            },
            title: {
                text: ""
            },
            dataLabels: {},
            legend: {
                position: 'top',
                align: 'end',
            },
            options: {
                maintainAspectRatio: false,
                responsive: true,
            }

        };
        var incomeCategory = new ApexCharts(document.querySelector("#incomeByCategory"), incomeCategories);
        incomeCategory.render();


        var expenseCategories = {
            // series: [10,20],
            series: [1000],

            chart: {
                width: '400px',
                type: 'pie',
            },
            colors: ["#32719d"],
            labels: ["Fuel"],

            plotOptions: {
                pie: {
                    dataLabels: {
                        offset: -5
                    }
                }
            },
            title: {
                text: ""
            },
            dataLabels: {},
            legend: {
                position: 'top',
                align: 'end',
            },
            options: {
                maintainAspectRatio: false,
                responsive: true,
            }
        };
        var expenseCategory = new ApexCharts(document.querySelector("#expenseByCategory"), expenseCategories);
        expenseCategory.render();

    </script>
{% endblock %}