<div class="card bg-none card-box">
    <form method="POST" action="{% url 'edit-asset' asset.id %}" accept-charset="UTF-8">
         {% csrf_token %}
        <div class="row">
            <div class="form-group col-md-6">
                <label for="name" class="form-control-label">Name</label>
                <input class="form-control" required="required" name="name" type="text" value="{{ asset.name }}" id="name">
            </div>
            <div class="form-group col-md-6">
                <label for="amount" class="form-control-label">Amount</label>
                <input class="form-control" required="required" step="0.01" name="amount" type="number" value="{{ asset.amount }}"
                       id="amount">
            </div>

            <div class="form-group col-md-6">
                <label for="purchase_date" class="form-control-label">Purchase Date</label>
                <input style="line-height: 20px !important" class="form-control datepicker" name="purchase_date" type="date" value="{{ asset.purchase_date }}" id="purchase_date">
            </div>
            <div class="form-group col-md-6">
                <label for="supported_date" class="form-control-label">Supported Date</label>
                <input style="line-height: 20px !important" class="form-control datepicker" name="supported_date" type="date" value="{{ asset.supported_date }}" id="supported_date">
            </div>
            <div class="form-group col-md-12">
                <label for="description" class="form-control-label">Description</label>
                <textarea class="form-control" rows="3" name="description" cols="50" id="description">{{ asset.description }}</textarea>
            </div>
            <div class="col-md-12">
                <input type="submit" value="Create" class="btn-create badge-blue">
                <input type="button" value="Cancel" class="btn-create bg-gray" data-dismiss="modal">
            </div>
        </div>
    </form>
</div>
