{% extends 'accounting/base.html' %}
{% load django_tables2 %}
{% block content %}

    <div class="page-content">
        <div class="page-title">
            <div class="row justify-content-between align-items-center">
                <div
                        class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                    <div class="d-inline-block">
                        <h5 class="h4 d-inline-block font-weight-400 mb-0 "> {{ title }}
                        </h5>
                    </div>
                </div>
                <div
                        class="col-xl-8 col-lg-8 col-md-8 d-flex align-items-center justify-content-between justify-content-md-end">
                    <div class="all-button-box row d-flex justify-content-end">
                        {% for action in actions %}
                            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                                <a href="{{ action.href }}"
                                {% for attr in action.attributes %}
                                    {{ attr.name }}="{{ attr.value }}"
                                {% endfor %}
                                class="{{ action.classes }}">
                                <i class="{{ action.icon }}"></i> {{ action.title }}
                                </a>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for table in tables %}
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h6>{{ table.title }}</h6>
                        </div>
                        <div class="card-body py-0">
                            <div class="table-responsive">
                                {% render_table table.table %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="commonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-content">
                    <div>
                        <h4 class="h4 font-weight-400 float-left modal-title" id="exampleModalLabel">Create New
                            Designation</h4>
                        <a href="#" class="more-text widget-text float-right close-icon" data-dismiss="modal"
                           aria-label="Close">Close</a>
                    </div>
                    <div class="modal-body">
                        <div class="card bg-none card-box">
                            <form method="POST" action="{{ form.action }}" accept-charset="UTF-8">

                                {% csrf_token %}
                                {% include 'accounting/add-edit-form.html' with form=form.form %}

                                <div class="col-md-12 px-0">
                                    <input type="submit" value="Create" class="btn-create badge-blue">
                                    <input type="button" value="Cancel" class="btn-create bg-gray"
                                           data-dismiss="modal">
                                </div>
                            </form>


                        </div>
                    </div>
                </div>


                <script>
                    $(document).ready(function () {

                        $("#type").on("change", function () {
                            let field = $(this)
                            console.log(field.val())
                            let model = $('#vndr');
                            if (field.val() === 'INDIVIDUAL') {
                                model.html(` <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="shipping_zip" class="form-control-label">SSN</label>
                                                <div class="form-icon-user">
                                                    <input class="form-control" placeholder="Enter SSN" name="ssn" type="text" id="ssn">
                                                </div>
                                            </div>
                                        </div>`)
                            } else if (field.val() === 'CONTRACTOR') {
                                model.html(` <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="shipping_zip" class="form-control-label">EIN</label>
                                                <div class="form-icon-user">
                                                    <input class="form-control" placeholder="Enter EIN" name="ein" type="text" id="ein">
                                                </div>
                                            </div>
                                        </div>`)


                            } else {
                                model.html(` `)

                            }
                        })

                    })

                </script>

            </div>
        </div>
    </div>









{% endblock %}