{% load static %}

<!-- Argon Scripts -->
<!-- Core -->
{#<script src="{% static 'dashboard/assets/js/bootstrap-table.js' %}"></script>#}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAPFHIiScwARNq20c7nNYzKPY6sPFL6grE&callback=initMap"></script>

<script src="{% static 'dashboard/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendor/js-cookie/js.cookie.js' %}"></script>
<script src="{% static 'dashboard/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
<!-- Optional JS -->
<script src="{% static 'dashboard/assets/vendor/chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendor/chart.js/dist/Chart.extension.js' %}"></script>
<!-- Argon JS -->
<!-- Demo JS - remove this in your project -->
{#<script src="{%static ''%}assets/js/demo.min.js"></script>#}
{#<script>#}
{#    let $table = $("table")#}
{#    $table.bootstrapTable({#}
{#        toolbar: ".toolbar",#}
{#        clickToSelect: true,#}
{#        showRefresh: true,#}
{#        search: true,#}
{#        showToggle: true,#}
{#        showColumns: true,#}
{#        pagination: true,#}
{#        searchAlign: 'left',#}
{#        pageSize: 8,#}
{#        clickToSelect: false,#}
{#        pageList: [8, 10, 25, 50, 100],#}
{#        formatShowingRows: function (pageFrom, pageTo, totalRows) {#}
{#            //do nothing here, we don't want to show the text "showing x of y from..."#}
{#        },#}
{#        formatRecordsPerPage: function (pageNumber) {#}
{#            return pageNumber + " rows visible";#}
{#        },#}
{#        icons: {#}
{#            refresh: 'fa fa-refresh',#}
{#            toggle: 'fa fa-th-list',#}
{#            columns: 'fa fa-columns',#}
{#            detailOpen: 'fa fa-plus-circle',#}
{#            detailClose: 'fa fa-minus-circle'#}
{#        }#}
{#    });#}
{#    //activate the tooltips after the data table is initialized#}
{#    $('[rel="tooltip"]').tooltip();#}
{#    $(window).resize(function () {#}
{#        $table.bootstrapTable('resetView');#}
{#    });#}
{##}
{##}
{#</script>#}