<div class="sidenav custom-sidenav" id="sidenav-main">
    <!-- Sidenav header -->
    <div class="sidenav-header d-flex align-items-center">
        <a class="navbar-brand" href="/">
            <img src="https://storage.googleapis.com/lc_accounting/uploads/logo/2_logo.png"
                 class="navbar-brand-img"/>
        </a>
        <div class="ml-auto">
            <div class="sidenav-toggler sidenav-toggler-dark d-md-none" data-action="sidenav-unpin"
                 data-target="#sidenav-main">
                <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line bg-white"></i>
                    <i class="sidenav-toggler-line bg-white"></i>
                    <i class="sidenav-toggler-line bg-white"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollbar-inner">
        <div class="div-mega">
            <ul class="navbar-nav navbar-nav-docs">
                <li class="nav-item dashboard">
                    <a href="/accounting/dashboard" class="nav-link dashboard_cls">
                        <i class="fas fa-fire fa-gradient"></i>Dashboard
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link collapsed staff_cls" href="#navbar-staff" data-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="navbar-staff">
                        <i class="fas fa-users"></i>Staff
                        <i class="fas fa-sort-up"></i>
                    </a>
                    <div class="collapse " id="navbar-staff">
                        <ul class="nav flex-column submenu-ul">
                            <li class="nav-item employee_cls">
                                <a href="{% url 'employee' %}" class="nav-link">Employee</a>
                            </li>
                            {#                            <li class="nav-item ">#}
                            {#                                <a href="http://127.0.0.1:8000/roles" class="nav-link">Role</a>#}
                            {#                            </li>#}
                        </ul>
                    </div>
                </li>
                {#                <li class="nav-item">#}
                {#                    <a href="http://127.0.0.1:8000/productservice" class="nav-link ">#}
                {#                        <i class="fas fa-shopping-cart"></i>Product &amp; Service#}
                {#                    </a>#}
                {#                </li>#}
                <li class="nav-item ">
                    <a href="{% url 'customers-index' %}" class="nav-link clients_class">
                        <i class="fas fa-user-ninja"></i>Client
                    </a>
                </li>
                {#                <li class="nav-item vendor_class">#}
                {#                    <a href="{% url 'vendors' %}" class="nav-link vendor">#}
                {#                        <i class="fas fa-sticky-note"></i>Vendor#}
                {#                    </a>#}
                {#                </li>#}
                <li class="nav-item">
                    <a class="nav-link collapsed vendor" href="#navbar-expense" data-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="navbar-expense">
                        <i class="fas fa-money-bill-wave-alt"></i>Vendor
                        <i class="fas fa-sort-up"></i>
                    </a>


                    <div class="collapse " id="navbar-expense">
                        <ul class="nav flex-column submenu-ul">
                            <li class="nav-item vendor">
                                <a href="{% url 'vendors' %}" class="nav-link">Vendor</a>
                            </li>
                            <li class="nav-item bills">
                                <a href="{% url 'bills' %}" class="nav-link">Bill</a>
                            </li>
                            <li class="nav-item payments">
                                <a href="{% url 'payments' %}" class="nav-link">Payment</a>
                            </li>

                        </ul>
                    </div>
                </li>
                {#                <li class="nav-item">#}
                {#                    <a href="http://127.0.0.1:8000/proposal" class="nav-link ">#}
                {#                        <i class="fas fa-receipt"></i>Proposal#}
                {#                    </a>#}
                {#                </li>#}
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#navbar-banking" data-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="navbar-banking">
                        <i class="fas fa-university"></i>Banking
                        <i class="fas fa-sort-up"></i>
                    </a>
                    <div class="collapse " id="navbar-banking">
                        <ul class="nav flex-column submenu-ul">
                            <li class="nav-item ">
                                <a href="#" class="nav-link">Account</a>
                            </li>
                            <li class="nav-item ">
                                <a href="#" class="nav-link">Transfer</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed income" href="#navbar-income" data-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="navbar-income">
                        <i class="fas fa-money-bill-alt"></i>Income
                        <i class="fas fa-sort-up"></i>
                    </a>
                    <div class="collapse " id="navbar-income">
                        <ul class="nav flex-column submenu-ul">

                            <li class="nav-item credit_notes">
                                <a href="{% url 'direct-income' %}" class="nav-link">Revenue</a>
                            </li>
                            {#                            <li class="nav-item ">#}
                            {#                                <a href="http://127.0.0.1:8000/invoice" class="nav-link">Invoice</a>#}
                            {#                            </li>#}

                            <li class="nav-item ">
                                <a href="{% url 'reservations' %}" class="nav-link">Reservations</a>
                            </li>

                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed expense" href="#navbar-expense" data-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="navbar-expense">
                        <i class="fas fa-money-bill-wave-alt"></i>Expense
                        <i class="fas fa-sort-up"></i>
                    </a>


                    <div class="collapse " id="navbar-expense">
                        <ul class="nav flex-column submenu-ul">
                            <li class="nav-item all_expenses">
                                <a href="{% url 'expenses' %}" class="nav-link">Direct Expense</a>
                            </li>
                            {#                            <li class="nav-item bills">#}
                            {#                                <a href="{% url 'bills' %}" class="nav-link">Bill</a>#}
                            {#                            </li>#}
                            {#                            <li class="nav-item payments">#}
                            {#                                <a href="{% url 'payments' %}" class="nav-link">Payment</a>#}
                            {#                            </li>#}

                        </ul>
                    </div>
                </li>

                <li class="nav-item ">
                    <a class="nav-link collapsed double-entries" href="#navbar-double-entry" data-toggle="collapse"
                       role="button"
                       aria-expanded="false" aria-controls="navbar-double-entry">
                        <i class="fas fa-balance-scale"></i>Double Entry
                        <i class="fas fa-sort-up"></i>
                    </a>
                    <div class="collapse " id="navbar-double-entry">
                        <ul class="nav flex-column submenu-ul">
                            <li class="nav-item chart_of_accounts">
                                <a href="{% url 'chart-of-accounts' %}" class="nav-link">Chart of
                                    Accounts</a>
                            </li>
                            <li class="nav-item journal-entries">
                                <a href="{% url 'journal-entry' %}" class="nav-link ">Journal Account</a>
                            </li>
                            <li class="nav-item ledger_summary">
                                <a href="{% url 'ledger-summary' %}" class="nav-link">Ledger Summary</a>
                            </li>
                            <li class="nav-item balance_sheet">
                                <a href="{% url 'balance-sheet' %}" class="nav-link">Balance
                                    Sheet</a>
                            </li>

                            <li class="nav-item trial_balance">
                                <a href="{% url 'trial-balance' %}" class="nav-link">Trial
                                    Balance</a>
                            </li>
                        </ul>
                    </div>
                </li>


                <!------Budget Planner ------>
                {#                <li class="nav-item  ">#}
                {#                    <a href="http://127.0.0.1:8000/budget" class="nav-link">#}
                {#                        <i class="fas fa-file-invoice-dollar"></i>Budget Planner#}
                {#                    </a>#}
                {#                </li>#}
                <!---- End Budget Planner ---->


                {#                <li class="nav-item">#}
                {#                    <a href="http://127.0.0.1:8000/goal" class="nav-link ">#}
                {#                        <i class="fas fa-bullseye"></i>Goal#}
                {#                    </a>#}
                {#                </li>#}
                <li class="nav-item">
                    <a href="{% url 'assets' %}" class="nav-link asset_class">
                        <i class="fas fa-calculator"></i>Assets
                    </a>
                </li>
                {#                <li class="nav-item">#}
                {#                    <a href="http://127.0.0.1:8000/plans" class="nav-link ">#}
                {#                        <i class="fas fa-trophy"></i>Plan#}
                {#                    </a>#}
                {#                </li>#}
                {#                <li class="nav-item">#}
                {#                    <a href="http://127.0.0.1:8000/order" class="nav-link ">#}
                {#                        <i class="fas fa-cart-plus"></i>Order#}
                {#                    </a>#}
                {#                </li>#}

                <li class="nav-item">
                    <a class="nav-link collapsed reports" href="#navbar-reports" data-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="navbar-reports">
                        <i class="fas fa-chart-area"></i>Report
                        <i class="fas fa-sort-up"></i>
                    </a>
                    <div class="collapse " id="navbar-reports">
                        <ul class="nav flex-column submenu-ul">
                            <li class="nav-item transactions">
                                <a href="{% url 'all-transactions' %}" class="nav-link transactions">
                                    Transactions
                                </a>
                            </li>
                            <li class="nav-item account_statement">
                                <a href="{% url 'account-statement' %}" class="nav-link">Account
                                    Statement</a>
                            </li>
                            <li class="nav-item income_summary">
                                <a href="{% url 'income-summary' %}" class="nav-link">Income
                                    Summary</a>
                            </li>
                            <li class="nav-item expense_summary">
                                <a href="{% url 'expense-summary' %}" class="nav-link">Expense
                                    Summary</a>
                            </li>
                            <li class="nav-item income_vs_expense_summary">
                                <a href="{% url 'income-vs-expense-summary' %}" class="nav-link">Income
                                    VS Expense</a>
                            </li>
                            <li class="nav-item tax_summary">
                                <a href="{% url 'tax-summary' %}" class="nav-link">Tax Summary</a>
                            </li>
                            <li class="nav-item profit_loss_summary">
                                <a href="{% url 'profit-loss-summary' %}" class="nav-link">Profit
                                    &amp; Loss</a>
                            </li>
                            <li class="nav-item invoice_summary">
                                <a href="{% url 'invoice-summary' %}" class="nav-link">Invoice
                                    Summary</a>
                            </li>
                            <li class="nav-item ">
                                <a href="http://127.0.0.1:8000/report/bill-summary" class="nav-link">Bill
                                    Summary</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#navbar-constant" data-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="navbar-constant">
                        <i class="fas fa-cog"></i>Constant
                        <i class="fas fa-sort-up"></i>
                    </a>
                    <div class="collapse " id="navbar-constant">
                        <ul class="nav flex-column submenu-ul">
                            <li class="nav-item ">
                                <a href="http://127.0.0.1:8000/taxes" class="nav-link">Taxes</a>
                            </li>
                            {#                            <li class="nav-item ">#}
                            {#                                <a href="http://127.0.0.1:8000/product-category" class="nav-link">Category</a>#}
                            {#                            </li>#}
                            {#                            <li class="nav-item ">#}
                            {#                                <a href="http://127.0.0.1:8000/product-unit" class="nav-link">Unit</a>#}
                            {#                            </li>#}
                            {#                            <li class="nav-item ">#}
                            {#                                <a href="http://127.0.0.1:8000/custom-field" class="nav-link">Custom Field</a>#}
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{% url 'company-index' %}" class="nav-link  ">
                        <i class="fas fa-building"></i>Company
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

