{% extends 'dashboard/base.html' %}
{#{% load django_tables2 %}#}
{% load widget_tweaks %}
{% block nav %}
    {% include 'dashboard/company/partials/nav.html' %}
{% endblock %}
{% block main %}




    <div class="main-content" id="panel">
        <!-- Topnav -->
        {% include 'dashboard/company/partials/top-nav.html' %}
        <!-- Header -->
        <!-- Header -->
        {% include 'dashboard/company/partials/header.html' %}
        <!-- Page content -->
        <div class="container-fluid mt--6">
            <!-- Table -->
            <div class="row">
                <div class="col">
                    <div class="card">


                        <div class="card-header rounded-5">
                            <h2 class="mb-0">{{ page_title }}</h2>
                            <h4 class="mb-0">{{ subtitle }}</h4>
                        </div>
                        {#                                <p class="text mb-10">#}
                        {#                                    {{ subtitle }}#}
                        {#                                </p>#}
                        {% if slug == "Account" %}
                            <div class="row justify-content-around">
                                <div class="col-2 card">
                                    <div class="settings-sidebar">
                                        <a class="active" href="{% url 'company-settings' %}">Account</a>
                                        <a href="{% url 'company-settings-billing' %}">Billing</a>
                                        <a href="{% url 'company-settings-change-password' %}">Change Password</a>
                                        <a href="{% url 'company-settings-contact-support' %}">Contact Support</a>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="tabed-content">
                                        <div id="month">
                                            <div class="row">
                                                {#                                            {% for pkg in monthly_packages %}#}
                                                <div class="col-lg-4 animated fadeInLeft">
                                                    <div class="pricing-one__single" style="height: 90%">
                                                        <div class="pricing-one__circle"></div>
                                                        <!-- /.pricing-one__circle -->
                                                        <div class="pricing-one__inner">
                                                            {#                                                            <p>{{ pkg.title }}</p>#}
                                                            {#                                                            <h3>${{ pkg.price }}</h3>#}
                                                            <p>Current Plan:</p>
                                                            <span>{{ company.company_package.package.title }}</span>
                                                            <h3>${{ company.company_package.package.price }}</h3>
                                                            <!-- /.list-unstyled pricing-one__list -->
                                                            <a href="{% url 'company-settings-account' %}"
                                                               class="btn btn-primary mt-5"><span>Change Plan</span></a>
                                                            <!-- /.thm-btn -->
                                                            {#                                                            <span>{{ pkg.short_description | safe }}</span>#}
                                                            {#                                        <span>Cancel Anytime!</span>#}
                                                        </div><!-- /.pricing-one__inner -->
                                                    </div><!-- /.pricing-one__single -->
                                                </div><!-- /.col-lg-4 -->
                                                {#                                            {% endfor %}#}
                                                <div class="col-lg-4 animated fadeInLeft">
                                                    <div class="pricing-one__single" style="height: 90%">
                                                        <div class="card-body">
                                                            <p class="card-title mt-3 mb-4"><strong>Company Info:</strong></p>

                                                            <p class="mb-2">{{ company.company_name }}</p>
                                                            <p class="mb-2">{{ company.address }}</p>
                                                            {#                                                            <p>Company City, ST ZIP</p>#}
                                                            <p class="mb-2">{{ company.userprofile.user.email }}</p>
                                                            <p>{{ company.userprofile.phone }}</p>

                                                        </div>
                                                    </div>

                                                    {#                                                <div class="pricing-one__single">#}
                                                    {#                                                    <div class="pricing-one__circle"></div>#}
                                                    {#                                                    <!-- /.pricing-one__circle -->#}
                                                    {#                                                    <div class="pricing-one__inner">#}
                                                    {#                                                            <p>{{ pkg.title }}</p>#}
                                                    {#                                                            <h3>${{ pkg.price }}</h3>#}
                                                    {#                                                        <p>Current Plan:</p>#}
                                                    {#                                                        <spanp>Pro Plan</spanp>#}
                                                    {#                                                        <h3>$30</h3>#}
                                                    {#                                                        <!-- /.list-unstyled pricing-one__list -->#}
                                                    {#                                                        <a href="#"#}
                                                    {#                                                           class="btn btn-primary mt-4"><span>Choose Plan</span></a>#}
                                                    {#                                                        <!-- /.thm-btn -->#}
                                                    {#                                                            <span>{{ pkg.short_description | safe }}</span>#}
                                                    {#                                        <span>Cancel Anytime!</span>#}
                                                    {#                                                    </div><!-- /.pricing-one__inner -->#}
                                                    {#                                                </div><!-- /.pricing-one__single -->#}
                                                </div>
                                                <div class="col-lg-4 animated fadeInLeft">
                                                    <div class="pricing-one__single" style="height: 90%">
                                                        <div class="card-body">
                                                            <p class="card-title mt-3 mb-4"><strong>Account Overview:</strong></p>

                                                            <p>Last Payment: <strong>{{ company_last_payment }}</strong>
                                                            </p>
                                                            <p>Payment Due: <strong>{{ company_due_payment }}</strong>
                                                            </p>
                                                            <p>Card Num#: <strong>{{ card_number }}</strong></p>
                                                            <p>Card ending in: <strong>{{ company_card_details }}</strong></p>
                                                            <p>Member Since: <strong>{{ member_since }}</strong></p>


                                                        </div>
                                                    </div>

                                                    {#                                                <div class="pricing-one__single">#}
                                                    {#                                                    <div class="pricing-one__circle"></div>#}
                                                    {#                                                    <!-- /.pricing-one__circle -->#}
                                                    {#                                                    <div class="pricing-one__inner">#}
                                                    {#                                                            <p>{{ pkg.title }}</p>#}
                                                    {#                                                            <h3>${{ pkg.price }}</h3>#}
                                                    {#                                                        <p>Current Plan:</p>#}
                                                    {#                                                        <spanp>Pro Plan</spanp>#}
                                                    {#                                                        <h3>$30</h3>#}
                                                    {#                                                        <!-- /.list-unstyled pricing-one__list -->#}
                                                    {#                                                        <a href="#"#}
                                                    {#                                                           class="btn btn-primary mt-4"><span>Choose Plan</span></a>#}
                                                    {#                                                        <!-- /.thm-btn -->#}
                                                    {#                                                            <span>{{ pkg.short_description | safe }}</span>#}
                                                    {#                                        <span>Cancel Anytime!</span>#}
                                                    {#                                                    </div><!-- /.pricing-one__inner -->#}
                                                    {#                                                </div><!-- /.pricing-one__single -->#}
                                                </div>
                                            </div><!-- /.row -->
                                        </div><!-- /#month -->

                                    </div><!-- /.tabed-content -->

                                </div>

                            </div>
                        {% endif %}
                        {% if slug == "Account Detail" %}
                            <div class="row justify-content-around">
                                <div class="col-2 card">
                                    <div class="settings-sidebar">
                                        <a class="active" href="{% url 'company-settings' %}">Account</a>
                                        <a href="{% url 'company-settings-billing' %}">Billing</a>
                                        <a href="{% url 'company-settings-change-password' %}">Change Password</a>
                                        <a href="{% url 'company-settings-contact-support' %}">Contact Support</a>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="tabed-content">
                                        <div id="month">
                                            <div class="row">
                                                {% for pkg in packages %}
                                                    <div class="col-lg-4 animated fadeInLeft">
                                                        <div class="pricing-one__single">
                                                            <div class="pricing-one__circle"></div>
                                                            <!-- /.pricing-one__circle -->
                                                            <div class="pricing-one__inner">
                                                                <span class="package-type">{{ pkg.pricing_duration }}</span>
                                                                <p class="package-title">{{ pkg.title }}</p>
                                                                <h3 class="package-price">${{ pkg.price }}</h3>
                                                                <ul class="list-unstyled pricing-one__list">
                                                                    {% for feature in pkg.features.all %}
                                                                        <li>{{ feature.title }}</li>
                                                                    {% endfor %}

                                                                </ul><!-- /.list-unstyled pricing-one__list -->
                                                                <a href="#myModal"
                                                                   class="btn-sm btn-primary card-detail select-pkg"
                                                                   data-target="#myModal"
                                                                   data-toggle="modal"
                                                                   data-title="{{ pkg.title }}"
                                                                   data-duration="{{ pkg.pricing_duration }}"
                                                                   data-price="{{ pkg.price }}"
                                                                   data-url="{% url "package-payment-procees" %}?slug={{ pkg.slug }}"><span>Choose Plan</span></a>
                                                                <!-- /.thm-btn -->
                                                                <span>{{ pkg.short_description | safe }}</span>
                                                                {#                                        <span>Cancel Anytime!</span>#}
                                                            </div><!-- /.pricing-one__inner -->
                                                        </div><!-- /.pricing-one__single -->
                                                    </div><!-- /.col-lg-4 -->
                                                {% endfor %}

                                            </div><!-- /.row -->
                                        </div><!-- /#month -->
                                    </div><!-- /.tabed-content -->

                                </div>

                            </div>
                        {% endif %}
                        {% if slug == "Billing" %}
                            <div class="row justify-content-around">
                                <div class="col-2 card">
                                    <div class="settings-sidebar">
                                        <a href="{% url 'company-settings' %}">Account</a>
                                        <a class="active" href="{% url 'company-settings-billing' %}">Billing</a>
                                        <a href="{% url 'company-settings-change-password' %}">Change Password</a>
                                        <a href="{% url 'company-settings-contact-support' %}">Contact Support</a>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="tabed-content">
                                        <div id="month">
                                            <div class="row">
                                                {#                                            {% for pkg in monthly_packages %}#}
                                                <div class="col-lg-4 animated fadeInLeft">
                                                    <div class="pricing-one__single" style="height: 90%">
                                                        <div class="pricing-one__circle"></div>
                                                        <!-- /.pricing-one__circle -->
                                                        <div class="pricing-one__inner">
                                                            {#                                                            <p>{{ pkg.title }}</p>#}
                                                            {#                                                            <h3>${{ pkg.price }}</h3>#}
                                                            <p>Payment Method:</p>
                                                            <span>{{ type }}</span>
                                                            <span>Card Number: {{ card_number }}</span>
                                                            {#                                                            <h3>$30</h3>#}
                                                            <!-- /.list-unstyled pricing-one__list -->
                                                            <a href="#"
                                                               class="btn btn-primary mt-6"><span>Change</span></a>
                                                            <!-- /.thm-btn -->
                                                            {#                                                            <span>{{ pkg.short_description | safe }}</span>#}
                                                            {#                                        <span>Cancel Anytime!</span>#}
                                                        </div><!-- /.pricing-one__inner -->
                                                    </div><!-- /.pricing-one__single -->
                                                </div><!-- /.col-lg-4 -->
                                                <div class="col-lg-4 animated fadeInLeft">
                                                    <div class="pricing-one__single" style="height: 90%">
                                                        <div class="pricing-one__circle"></div>
                                                        <!-- /.pricing-one__circle -->
                                                        <div class="pricing-one__inner">
                                                            {#                                                            <p>{{ pkg.title }}</p>#}
                                                            {#                                                            <h3>${{ pkg.price }}</h3>#}
                                                            <p>Billing Address:</p>
                                                            <span>{{ company.address }}</span>
                                                            {#                                                            <h3>$30</h3>#}
                                                            <!-- /.list-unstyled pricing-one__list -->
                                                            <a href="#"
                                                               class="btn btn-primary mt-7"><span>Change</span></a>
                                                            <!-- /.thm-btn -->
                                                            {#                                                            <span>{{ pkg.short_description | safe }}</span>#}
                                                            {#                                        <span>Cancel Anytime!</span>#}
                                                        </div><!-- /.pricing-one__inner -->
                                                    </div><!-- /.pricing-one__single -->
                                                </div><!-- /.col-lg-4 -->
                                                {#                                            {% endfor %}#}

                                            </div><!-- /.row -->
                                        </div><!-- /#month -->

                                    </div><!-- /.tabed-content -->

                                </div>

                            </div>
                        {% endif %}
                        {% if slug == "Change Password" %}
                            <div class="row justify-content-around">
                                <div class="col-2 card">
                                    <div class="settings-sidebar">
                                        <a href="{% url 'company-settings' %}">Account</a>
                                        <a href="{% url 'company-settings-billing' %}">Billing</a>
                                        <a class="active" href="{% url 'company-settings-change-password' %}">Change
                                            Password</a>
                                        <a href="{% url 'company-settings-contact-support' %}">Contact Support</a>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="tabed-content">
                                        <div id="month">
                                            <div class="row">
                                                {#                                            {% for pkg in monthly_packages %}#}
                                                <div class="col-lg-8 animated fadeInLeft">
                                                    <div class="pricing-one__single" style="height: 90%">
                                                        <div class="pricing-one__circle"></div>
                                                        <!-- /.pricing-one__circle -->
                                                        <div class="pricing-one__inner">
                                                            {#                                                            <p>{{ pkg.title }}</p>#}
                                                            {#                                                            <h3>${{ pkg.price }}</h3>#}
                                                            <form action="" method="post">
                                                                {% csrf_token %}
                                                                <div class="row justify-content-around">
                                                                    <div class="form-group col-10">
                                                                        <label class="form-control-label settings-hover"
                                                                               style="float: left">Current
                                                                            Password</label>
                                                                        <input type="password" name="currentpassword"
                                                                               maxlength="150"
                                                                               placeholder="Current Password"
                                                                               class="form-control "
                                                                               id="id_first_name" required="true">
                                                                    </div>
                                                                    <div class="form-group col-10">
                                                                        <label class="form-control-label settings-hover"
                                                                               style="float: left">New
                                                                            Password</label>
                                                                        <input type="password" name="newpassword"
                                                                               maxlength="150"
                                                                               placeholder="New Password"
                                                                               class="form-control"
                                                                               id="id_first_name" required="true">
                                                                    </div>
                                                                    <div class="form-group col-10">
                                                                        <label class="form-control-label settings-hover"
                                                                               style="float: left">Confirm
                                                                            Password</label>
                                                                        <input type="password" name="confirmpassword"
                                                                               maxlength="150"
                                                                               placeholder="Confirm Password"
                                                                               class="form-control"
                                                                               id="id_first_name" required="true">
                                                                    </div>
                                                                </div>

                                                                <button class="btn btn-primary">
                                                                    <span>Submit</span></button>

                                                            </form>
                                                            <!-- /.thm-btn -->
                                                            {#                                                            <span>{{ pkg.short_description | safe }}</span>#}
                                                            {#                                        <span>Cancel Anytime!</span>#}
                                                        </div><!-- /.pricing-one__inner -->
                                                    </div><!-- /.pricing-one__single -->
                                                </div><!-- /.col-lg-4 -->
                                                {#                                            {% endfor %}#}

                                            </div><!-- /.row -->
                                        </div><!-- /#month -->

                                    </div><!-- /.tabed-content -->

                                </div>

                            </div>
                        {% endif %}
                        {% if slug == "Contact Support" %}
                            <div class="row justify-content-around">
                                <div class="col-2 card">
                                    <div class="settings-sidebar">
                                        <a href="{% url 'company-settings' %}">Account</a>
                                        <a href="{% url 'company-settings-billing' %}">Billing</a>
                                        <a href="{% url 'company-settings-change-password' %}">Change Password</a>
                                        <a class="active" href="{% url 'company-settings-contact-support' %}">Contact
                                            Support</a>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="tabed-content">
                                        <div id="month">
                                            <div class="row">
                                                {#                                            {% for pkg in monthly_packages %}#}
                                                <div class="col-lg-8 animated fadeInLeft">
                                                    <div class="pricing-one__single" style="height: 90%">
                                                        <div class="pricing-one__circle"></div>
                                                        <!-- /.pricing-one__circle -->
                                                        <div class="pricing-one__inner">
                                                            {#                                                            <p>{{ pkg.title }}</p>#}
                                                            {#                                                            <h3>${{ pkg.price }}</h3>#}

                                                            <form action="" method="post">
                                                                {% csrf_token %}
                                                                <div class="row justify-content-around">
                                                                    <div class="form-group col-10">
                                                                        <label class="form-control-label  settings-hover"
                                                                               style="float: left;">Topic:</label>
                                                                        <input type="password" name="currentpassword"
                                                                               maxlength="150"
                                                                               placeholder="(Choices, Feature Request, Error, Question, Other)"
                                                                               class="form-control "
                                                                               id="id_first_name" required="true">
                                                                    </div>
                                                                    <div class="form-group col-10">
                                                                        <label class="form-control-label settings-hover"
                                                                               style="float: left">Device:</label>
                                                                        <input type="device" name="device"
                                                                               maxlength="150"
                                                                               placeholder="(Choices All, Driver App, Passenger App, Web)"
                                                                               class="form-control "
                                                                               id="id_first_name" required="true">
                                                                    </div>
                                                                    <div class="form-group col-10">
                                                                        <label class="form-control-label settings-hover"
                                                                               style="float: left">Message:</label>
                                                                        <textarea id="message" name="message" rows="5"
                                                                                  class="form-control "
                                                                                  cols="50"></textarea>
                                                                    </div>
                                                                </div>

                                                                <button class="btn btn-primary">
                                                                    <span>Submit</span></button>

                                                            </form>
                                                            <!-- /.thm-btn -->
                                                            {#                                                            <span>{{ pkg.short_description | safe }}</span>#}
                                                            {#                                        <span>Cancel Anytime!</span>#}
                                                        </div><!-- /.pricing-one__inner -->
                                                    </div><!-- /.pricing-one__single -->
                                                </div><!-- /.col-lg-4 -->
                                                {#                                            {% endfor %}#}

                                            </div><!-- /.row -->
                                        </div><!-- /#month -->

                                    </div><!-- /.tabed-content -->

                                </div>

                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal HTML -->
        <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header flex-column">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title w-100 text-center" style="font-size: 30px">Choose Plan!</h3>
                        <h4 class="ml-3 mt-3" style="font-size: 20px; text-decoration: underline;">Plan Details:</h4>
                    </div>

                    <div class="modal-body">

                    </div>

                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                        <a href="javascript:;" class="btn btn-primary proceed_button"><span>Proceed</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block extra_js %}
    {% if messages %}
        {% for message in messages %}
            <script>
                showNotification("", "{{message}}", "{{ message.tags }}", "fa fa-check")
            </script>
        {% endfor %}
    {% endif %}
    <script>
        {#$(".card-detail").click(function () {#}
        {#    let package = $(this)#}
        {#    let url = package.attr('data-url')#}
        {#    let url_1 = url.split('=')#}
        {#    url_1 = url_1[1]#}
        {#    let card_details = "{{ company_card_details }}"#}
        {#    card_number = "{{ card_number }}"#}
        {#    console.log("these are the details============", card_number, card_details)#}
        {#    console.log("hahahaha==", url_1)#}
        {#    let pacakge_type = $('.package-type').html()#}
        {#    let pacakge_title = $('.package-title').html()#}
        {#    let pacakge_price = $('.package-price').html()#}
        {#    $('#modal_package_title,#modal_package_details,#modal_package_amount,#modal_package_payment_card_number,#modal_package_payment_card_expiry ').html('')#}
        {#    $('#modal_package_title').append(`<h4>Package Name : ${url_1}</h4>`)#}
        {#    $('#modal_package_details').append(`<h4>Package Duration : ${pacakge_type}</h4>`)#}
        {#    $('#modal_package_amount').append(`<h4>Package Amount : ${pacakge_price}</h4>`)#}
        {#    $('#modal_package_payment_card_number').append(`<h4>Card Number : **** **** **** ${card_number}</h4>`)#}
        {#    $('#modal_package_payment_card_expiry').append(`<h4>Card Expiry : ${card_details}</h4>`)#}
        {#})
        #}

    </script>
    <script>
        $(".select-pkg").on("click", function () {
            let btn = $(this)
            $(".proceed_button").attr("href", btn.data("url"))
            $(".modal-body").html(`
            <div id="modal_package_title" class="form-inline justify-content-around" style="font-weight: bolder"><h4>Package Name :</h4><h4>${btn.data("title")}</h4></div>
                        <div id="modal_package_details" class="form-inline justify-content-around"><h4>Package Duration :</h4><h4>${btn.data("duration")}</h4></div>
                        <div id="modal_package_amount" class="form-inline justify-content-around"><h4>Package Amount :</h4><h4>${btn.data("price")}</h4></div>


                        <h4 class="ml-3" style="font-size: 20px;  text-decoration: underline;">Payment Details:</h4>
                        <div id="modal_package_payment_card_number" class="form-inline justify-content-around"
                             style="font-weight: bolder"><h4>Card Number :</h4><h4>{{ card_number }}</h4></div>
                        <div id="modal_package_payment_card_expiry" class="form-inline justify-content-around"><h4>Card Expiry :</h4><h4>{{ company_card_details }}</h4></div>
            `)
        })


    </script>
{% endblock %}



