{% extends "home/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block extra_styles %}
    <style>
        {#span > a {#}
        {#    color: #3cdba9 !important;#}
        {#    text-decoration: underline;#}
        {
        #}#}
        {##}
        {#.bg-secondary {#}
        {#    background: white !important;#}
        {#    border-radius: 30px;#}
        {#    border: 1px solid !important;#}
        {
        #}#}
    </style>
{% endblock %}

{% block main %}
    <section class="banner-one" id="home">
        <img src="{% static "assets/index2_images/shapes/banner-shape-1-1.png" %}" class="banner-one__bg-shape-1"
             alt="">
        <div class="banner-one__bg"
             style="background-image: url({% static "assets/index2_images/resources/banner-img.jpeg" %});">
        </div><!-- /.banner-one__bg -->
        <div class="container">
            <div class="row justify-content-center">
                {#                 <img width="60%" src="{% static 'assets/img/500page.png' %}">#}
                <div class="col-lg-10 col-md-12">
                    <div class="card" style=" border: none">
                        <div class="card-header">
                            <div class="text-dark text-center mt-3">
                                <span>{{ page_title | safe }}</span>
                            </div>
                            <div class="text-center text-white">
                                <small>{{ page_subtitle }}</small>
                            </div>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            <img width="60%" src="{{ img }}">
                        </div>
                        <div class="card-footer ">
                            <div class="row mt-3">
                                {% for link in links %}
                                    <div class="text-center col-{% widthratio 12 links|length 1 %}">
                                        <a href="{{ link.href }}"
                                           class="text-light thm-btn banner-one__btn"><span>{{ link.title }}</span></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /.banner-one -->


{% endblock %}
