{% load static %}
<script src="{% static 'accounting/assets/js/site.core.js' %}"></script>
<script src="{% static 'accounting/assets/libs/progressbar.js/dist/progressbar.min.js' %}"></script>
<script src="{% static 'accounting/assets/libs/moment/min/moment.min.js' %}"></script>
<script src="{% static 'accounting/assets/libs/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'accounting/assets/libs/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'accounting/assets/libs/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'accounting/assets/libs/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'accounting/assets/libs/nicescroll/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'accounting/assets/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
<script src="{% static 'accounting/js/jquery.form.js' %}"></script>


<script type="text/javascript" src="{% static 'accounting/js/html2pdf.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'accounting/assets/js/jszip.js' %}"></script>
<script type="text/javascript" src="{% static 'accounting/assets/js/pdfmake.js' %}"></script>
<script src="{% static 'accounting/assets/js/site.js' %}"></script>
<script src="{% static 'accounting/assets/js/datatables.min.js' %}"></script>
<script src="{% static 'accounting/assets/js/jscolor.js' %} "></script>

<script src="{% static 'accounting/assets/js/custom.js' %} "></script>




{#<script src="http://127.0.0.1:5000/assets/js/jscolor.js "></script>#}


<script>
    var date_picker_locale = {
        format: 'YYYY-MM-DD',
        daysOfWeek: [
            "Sun",
            "Mon",
            "Tue",
            "Wed",
            "Thu",
            "Fri",
            "Sat"
        ],
        monthNames: [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December"
        ],
    };
    var calender_header = {
        today: "today",
        month: 'month',
        week: 'week',
        day: 'day',
        list: 'list'
    };
</script>

<script>
    var dataTabelLang = {
        paginate: {previous: "Previous", next: "Next"},
        lengthMenu: "Show _MENU_ entries",
        zeroRecords: "No data available in table",
        info: "Showing _START_ to _END_ of _TOTAL_ entries",
        infoEmpty: " ",
        search: "Search:"
    }
</script>