{#{% load widget_tweaks %}#}
{#{% csrf_token %}#}
{#{% for field in form1 %}#}
{#    <div class="col-md-4">#}
{#        <div class="form-group">#}
{#            <label class="form-control-label"#}
{#                   style="text-transform:capitalize">{{ field.label }}</label>#}
{#            {% render_field field class="form-control" placeholder=field.label %}#}
{#            <small style="color: red">#}
{#                {{ field.errors }}#}
{#            </small>#}
{#        </div>#}
{#    </div>#}
{#{% endfor %}#}

{% load widget_tweaks %}
{% csrf_token %}
{% for field in form %}
    <div class="form-group mb-3">
        <small>{{ field.field.widget.attrs.label }}</small>
        <div class="input-group input-group-merge input-group-alternative">
            <div class="input-group-prepend">
                <span class="input-group-text"><i
                        class="ni {{ field.field.widget.attrs.data_icon }} fa-gradient"></i></span>
            </div>

            {% render_field field class="form-control" placeholder=field.label %}
        </div>
        <p class="error">
            {% for error in field.errors %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}
        </p>
    </div>
{% endfor %}