{% extends "home/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block extra_styles %}

{% endblock %}

{% block main %}
    <section class="banner-one" id="home">
        <img src="{% static "assets/index2_images/shapes/banner-shape-1-1.png" %}" class="banner-one__bg-shape-1"
             alt="">
        <div class="banner-one__bg"
             style="background-image: url({% static "assets/index2_images/resources/banner-img.jpeg" %});">
        </div><!-- /.banner-one__bg -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12">
                    <div class="card bg-secondary border-0">
                        <div class="card-header bg-transparent pb-2">
                            <div class="text-white text-center mt-3">
                                <span>{{ page_title | safe }}</span>
                            </div>
                            <div class="text-center text-white">
                                <small>{{ page_subtitle }}</small>
                            </div>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">

                            <form class="account-form" method="post"
                                  {% if form.action %}action="{{ form.action }}" {% endif %}>
                                {% csrf_token %}
                                <div class="row">
                                    {% for form in forms %}
                                        <div class="col-md-6">
                                            <h5 class="text-white">{{ form.title | safe }}</h5>
                                            {% for sub_form in form.sub_forms %}
                                                {% include "accounts/account-forms.html" with form=sub_form %}
                                                <div class="text-center">
                                                    {% for extra in form.extras %}
                                                        {{ extra | safe }}
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                            <hr>
                                        </div>

                                    {% endfor %}
                                </div>
                                <div class="text-center text-danger msg text-emphasized"></div>
                                <div class="text-center">
                                    <button type="submit"
                                            class="btn submit-btn btn-primary my-4 {{ main_btn.classes }}">
                                        <span>{{ main_btn.title }}</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer bg-transparent pb-2">
                            <div class="row mt-3">
                                {% for link in links %}
                                    <div class="text-center col-{% widthratio 12 links|length 1 %}">
                                        <a href="{{ link.href }}"
                                           class="text-light"><small>{{ link.title }}</small></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        {#        <div class="row">#}
        {#            <div class="col-lg-7">#}
        {#                <div class="banner-one__content">#}
        {##}
        {#                </div>#}
        {#                <!-- /.banner-one__content -->#}
        {#            </div>#}
        {#            <!-- /.col-lg-7 -->#}
        {#        </div><!-- /.row -->#}
        {#        </div><!-- /.container -->#}
    </section><!-- /.banner-one -->


{% endblock %}
{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('.account-form').on('submit', function () {
                let form = $(this)
                form.find('button').append('<i>...</i>').attr("disabled", "")
                post_form(form)
                return false;
            })

            function post_form(form) {
                let btn = form.find('button')
                var msg = $(".msg")
                $.ajax({
                    url: form.attr("action"),
                    type: form.attr("method"),
                    data: form.serialize(),
                    success: function (response, text, xhr) {
                        if (response.success) {
                            msg.removeClass("text-danger")
                            msg.addClass("text-success")
                        } else {
                            msg.removeClass("text-success")
                            msg.addClass("text-danger")
                        }
                        msg.html(response.message)
                        btn.find('i').remove()
                        btn.removeAttr("disabled")
                        if (response.data && response.data.redirect_url) {
                            window.location.href = response.data.redirect_url
                        }
                    },
                    error: function (error) {
                        {#console.log(error)#}
                        btn.find('i').remove()
                        btn.removeAttr("disabled")
                        msg.removeClass("text-success")
                        msg.addClass("text-danger")
                        msg.html("Something went wrong!")
                    }
                })
            }
        })

    </script>
    <script>
        var url = new URL(window.location.href);
        var success = url.searchParams.get("success");
        var message = url.searchParams.get("message");
        var next = url.searchParams.get("next");
        if (success === true || success === "true") {
            _class = "text-success"
            remove_class = "text-danger"
        } else {
            _class = "text-danger"
            remove_class = "text-success"
        }
        if (next) {
            var form = $(".account-form")
            form.attr("action", form.attr("action") + "?next=" + next)
        }
        $(".msg").html(message).addClass(_class).removeClass(remove_class)
    </script>
    <script>
         valid_email = false
         valid_username = false
        key = $("#id_username").val()
        {#console.log("thiws is the previous value of trhe username", key)#}
        $("#id_username").on("change", function () {

            validate_details($(this))
            console.log("USERNAME CHANGED")
        })
        $("#id_email").on("change", function () {
            validate_details($(this))
        })


        function validate_details(elem) {
            let value = elem.val()
            let name = elem.attr("name")

            let btn = $(".submit-btn")
            url = `{% url 'check-email-exist' %}?name=${name}&value=${value}&key=${key}`
            $.get(url, function (response, success) {
                if (name.includes("email")) {
                    valid_email = response.success
                    valid_username = response.success
                } else {
                    valid_username = response.success
                    valid_email = response.success
                }
                if (!response.success) {
                    elem.addClass("is-invalid").removeClass("is-valid")
                    elem.parent().siblings(".error").html(response.message).css("color", "red")
                    validate_btn(btn)
                } else {
                    elem.addClass("is-valid").removeClass("is-invalid")
                    elem.parent().siblings(".error").html(response.message).css("color", "green")
                    validate_btn(btn)
                }
            })
        }

        function validate_btn(btn) {
            if (valid_email && valid_username) {
                btn.removeAttr("disabled")
            } else {
                btn.attr("disabled", "")
            }
        }
    </script>
{% endblock %}