{% extends 'dashboard/base.html' %}
{#{% load django_tables2 %}#}
{% load widget_tweaks %}
{% block extra_styles %}
    <style rel="stylesheet">
        .error {
            color: red;
            font-size: 12px;
            float: left;
        {#width: -webkit-fill-available;#} margin-top: -2px;
        }

        .input-group-alternative {
            box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%) !important;
        }

        #msform {
            text-align: center;
            position: relative;
            margin-top: 20px
        }

        #msform fieldset .form-card {
            background: white;
            border: 0 none;
            border-radius: 0px;
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
            padding: 20px 40px 30px 40px;
            box-sizing: border-box;
            width: 94%;
            margin: 0 3% 20px 3%;
            position: relative
        }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding-bottom: 20px;
            position: relative
        }


        #msform fieldset:not(:first-of-type) {
            display: none
        }

        #msform fieldset .form-card {
            text-align: left;
            color: #9E9E9E
        }


        select.list-dt {
            border: none;
            outline: 0;
            border-bottom: 1px solid #ccc;
            padding: 2px 5px 3px 5px;
            margin: 2px
        }

        select.list-dt:focus {
            border-bottom: 2px solid skyblue
        }

        .card {
            z-index: 0;
            border: none;
            border-radius: 0.5rem;
            position: relative
        }

        .fs-title {
            font-size: 15px;
            color: #2C3E50;
            margin-bottom: 10px;
            font-weight: bold;
            text-align: left
        }

        #progressbar {
            margin-bottom: 30px;
            overflow: hidden;
            color: lightgrey;
            margin-right: 52px;
        }

        #progressbar .active {
            color: #000000
        }

        #progressbar li {
            list-style-type: none;
            font-size: 12px;
            width: 20%;
            float: left;
            position: relative
        }


        #progressbar .fa:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 18px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px
        }

        #progressbar li:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 18px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1
        }

        #progressbar .fa:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background: linear-gradient(
                    87deg, #027975, #211860 100%) !important
        }

        #progressbar .fa.active:before, .fa.active:after {
            background: linear-gradient(
                    87deg, #027975, #211860 100%) !important
        }

        .radio-group {
            position: relative;
            margin-bottom: 25px
        }

        .radio {
            display: inline-block;
            width: 204px;
            height: 104px;
            border-radius: 0;
            background: lightblue;
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
            box-sizing: border-box;
            cursor: pointer;
            margin: 8px 2px
        }

        .radio:hover {
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
        }

        .radio.selected {
            box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
        }

        .fit-image {
            width: 100%;
            object-fit: cover
        }


        .modal-confirm {
            color: #636363;
            width: 400px;
        }

        .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
            text-align: center;
            font-size: 14px;
        }

        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
        }

        .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -10px;
        }

        .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -2px;
        }

        .modal-confirm .modal-body {
            color: #999;
        }

        .modal-confirm .modal-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
            padding: 10px 15px 25px;
        }

        .modal-confirm .modal-footer a {
            color: #999;
        }

        .modal-confirm .icon-box {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            border-radius: 50%;
            z-index: 9;
            text-align: center;
            border: 3px solid #f15e5e;
        }

        .modal-confirm .icon-box i {
            color: #f15e5e;
            font-size: 46px;
            display: inline-block;
            margin-top: 13px;
        }

        .modal-confirm .btn, .modal-confirm .btn:active {
            color: #fff;
            border-radius: 4px;
            background: #60c7c1;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            min-width: 120px;
            border: none;
            min-height: 40px;
            border-radius: 3px;
            margin: 0 5px;
        }

        .modal-confirm .btn-secondary {
            background: #c1c1c1;
        }

        .modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
            background: #a8a8a8;
        }

        .modal-confirm .btn-danger {
            background: #f15e5e;
        }

        .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
            background: #ee3535;
        }

        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }

        .exp-wrapper {
            position: relative;
            border: 1px solid #aaa;
            display: flex;
            width: 300px;
            justify-content: space-around;
            height: 36px;
            line-height: 36px;
            font-size: 24px;
        }

        .exp-wrapper:after {
            content: '/';
            position: absolute;
            left: 50%;
            margin-left: -4px;
            color: #aaa;
        }

        input.exp {
            float: left;
            font-family: 'Open Sans';
            border: 0;
            width: 42px;
            outline: none;
            appearance: none;
            font-size: 14px;
        }

        #outer {
            width: 50%;
            text-align: left;
            height: 40px;
            margin-top: -60px;
        }

        .inner {
            display: inline-block;
            position: absolute;
        }

        .label-form-dex {
            margin-top: -22px;
            float: left;
            width: max-content;
        }

        .label-header-fs {
            margin-bottom: 3%;
        }

        .reservation-start {
            height: 59px;
            margin-left: -1.6%;
        }

        .reservation-outer {
            margin-top: 2%;
        }

        .reservation-inner {
            margin-bottom: 5%;
        }

        .client-btn {
            display: block;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 2px solid #153d68 !important;
            line-height: 1.7 !important;
        }

        .add-client-res-btn {
            margin-top: 1%;
            margin-left: 3%;
        }

        .client-detail-btn-add {
            margin-bottom: 1%;
        }


    </style>
{% endblock %}
{% block nav %}
    {% include 'dashboard/company/partials/nav.html' %}
{% endblock %}
{% block main %}
    <div class="main-content" id="panel">
        <!-- Topnav -->
        {% include 'dashboard/company/partials/top-nav.html' %}
        <!-- Header -->
        <!-- Header -->
        {% include 'dashboard/company/partials/header.html' %}

        <div class="container-fluid mt--6">
            <!-- Table -->
            <div class="row">
                <div class="col ">
                    <div class="card mb-4">
                        <!-- Card header -->
                        {#                        <div class="card-header">#}
                        {#                            <h2 class="mb-0">{{ page_title }}</h2>#}
                        {#                            <h4 class="mb-0">{{ subtitle }}</h4>#}
                        {##}
                        {#                        </div>#}
                        <div class=" card-header form-inline">
                            <div class="col-md-6 col-sm-6">
                                <h2 class="mb-0">{{ page_title }}</h2>
                                <h4 class="mb-0">{{ subtitle }}</h4>
                            </div>
                            <div class="col-md-6 col-sm-6 text-right">
                                {% if edit_reservation %}
                                    <a href="{{ edit_reservation.href }}" class="{{ edit_reservation.classes }} btn-sm"
                                    ><span>{{ edit_reservation.title }}</span></a>
                                {% endif %}
                            </div>
                        </div>


                        <!-- Card body -->
                        <div class="card-body">
                            {% if edit_client %}
                                <a href="{{ edit_client.href }}" class="{{ edit_client.classes }}"
                                   style="float: right; margin-top:-6.5%"><span>{{ edit_client.title }}</span></a>
                            {% endif %}
                            {#                            {% if messages %}#}
                            {#                                <ul class="messages">#}
                            {#                                    {% for message in messages %}#}
                            {#                                        <div class="alert-box">#}
                            {#                                            <li class="{{ message.tags }}">#}
                            {#                                                {{ message|safe }}#}
                            {#                                                <a href="javascript:;" class="alert-cancel-btn">&times;</a>#}
                            {#                                            </li>#}
                            {#                                        </div>#}
                            {#                                    {% endfor %}#}
                            {#                                </ul>#}
                            {#                            {% endif %}#}
                            <!-- Form groups used in grid -->

                            <form action="{{ action }}" method="post" id="msform" class="js-form mannan_form"
                                  enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- progressbar -->
                                <ul id="progressbar">
                                    {% for step in form_steps %}
                                        {% if not step.preview %}
                                            <li class="step {% if step.active %}active{% endif %}">
                                                <i class="{{ step.icon }} {% if step.active %}active{% endif %}"></i><br>
                                                <strong>{{ step.title }}</strong>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <!-- fieldsets -->
                                {% for step in form_steps %}
                                    <fieldset>
                                        {% if not step.preview %}
                                            <h1 class="fs-title label-header-fs">{{ step.title }}</h1>
                                        {% endif %}
                                        {% for form in step.forms %}
                                            {% if step.firstpage %}
                                                {% include "company/reservation/first_page_forms.html" with form=form.form_name form_class=form.form_class client_form=form.client_form readoly=readonly class_name=form.class_name %}
                                            {% else %}
                                                {% include "company/reservation/forms.html" with form=form.form_name form_class=form.form_class add_client=form.add_client readoly=readonly class_name=form.class_name %}

                                            {% endif %}

                                            {% if step.FormForFirstLastNameEmail %}
                                                <div class="row " id="client_details" style="display: none">
                                                    {% for field in step.FormForFirstLastNameEmail %}

                                                        <div class=" col-md-4 client-detail-btn-add">
                                                            {% render_field field class="form-control" placeholder=field.label readonly=readonly %}
                                                        </div>

                                                    {% endfor %}

                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <div style="text-align:end">
                                            {% for action in step.actions %}
                                                <button href="{{ action.href }}" type="{{ action.type }}"
                                                        name="{{ action.title }}" id="{{ action.id }}"
                                                        class="{{ action.classes }}">
                                                    <span> {{ action.title }}</span>
                                                </button>
                                            {% endfor %}
                                        </div>
                                    </fieldset>
                                {% endfor %}
                                <div id="outer">
                                    <div class=" {{ cancel_button.id }} inner">
                                        {% if cancel_button %}
                                            <a href="{{ cancel_button.href }}"
                                               class="{{ cancel_button.classes }}"
                                            ><span>{{ cancel_button.title }}</span></a>
                                        {% endif %}
                                    </div>
                                    <div class="inner ml-7">
                                        {% if delete_client %}
                                            <a href="#myModal"
                                               class="{{ delete_client.classes }}" data-target="#myModal"
                                               data-toggle="modal" data-url="{{ delete_client.href }}"
                                               style=" padding: 9px"><span><i
                                                    class="fa fa-trash "></i>
                                                {{ delete_client.title }}</span></a>
                                        {% endif %}
                                    </div>
                                </div>
{#                                <input type="text" style="display: none" id="dpayment" name="deposit_payment"#}
{#                                       value="">#}

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal HTML -->
        <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header flex-column">
                        <div class="icon-box">
                            <i class="fa fa-trash-o"></i>
                        </div>
                        <h4 class="modal-title w-100">Are you sure?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Do you really want to delete these records? This process cannot be undone.</p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal HTML For Deposit -->
        <div id="addBookDialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="align-content: center">Select Payment Methode</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <a href="javascript;;" class="btn btn-primary ak" value="0" style="width:-webkit-fill-available"
                           data-dismiss="modal"><span>CASH</span></a>
                        <a href="javascript;;" class="btn btn-primary ak" value="1" style="width:-webkit-fill-available"
                           data-dismiss="modal"><span>CREDIT CARD</span></a>
                    </div>
                    {#                    <div class="modal-footer">#}
                    {#                        #}
                    {#                    </div>#}
                </div>
            </div>
        </div>
    </div>



    <!-- Page content -->
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>#}
    {#    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>#}

{% endblock %}
{% block extra_js %}

    <script>
        function get_address() {
            var searchInput = this.id
            let new_searcInput = '#' + searchInput
            $(document).ready(function () {
                var autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
                    types: ['geocode'],
                });
                google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    var near_place = autocomplete.getPlace();
                    var searchInput_lat = near_place.geometry.location.lat();
                    var searchInput_long = near_place.geometry.location.lng();
                    $(new_searcInput).siblings().val(searchInput_lat.toString() + ',' + searchInput_long.toString())
                })
            })
        }
    </script>

    <script>
        var searchInput = 'id_pickup_address';
        $(document).ready(function () {
            var autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
                types: ['geocode'],
            });
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var near_place = autocomplete.getPlace();

                var pickup_lat = near_place.geometry.location.lat();
                var pickup_long = near_place.geometry.location.lng();
                var pickup = $("#pickup_latlong")
                pickup.val(pickup_lat.toString() + ',' + pickup_long.toString())

            });
        });
    </script>
    <script>
        var searchInput_dest = 'id_destination_address';
        $(document).ready(function () {
            var autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput_dest)), {
                types: ['geocode'],
            });
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var near_place = autocomplete.getPlace();

                var destination_lat = near_place.geometry.location.lat();
                var destination_long = near_place.geometry.location.lng();
                var destination = $("#destination_latlong")
                destination.val(destination_lat.toString() + ',' + destination_long.toString())
            });
        });
    </script>
    {% if messages %}
        {% for message in messages %}
            <script>
                showNotification("", "{{message}}", "{{ message.tags }}", "fa fa-check")
            </script>
        {% endfor %}
    {% endif %}
    <script>
        $(document).ready(function () {
            $(".js-form").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    }
                }
            })
            var current_fs, next_fs, previous_fs; //fieldsets
            var opacity;
            $(".next").click(function () {
                var form = $("#msform");
                if (form.valid() == true) {
                    current_fs = $(this).parent().parent();
                    next_fs = $(this).parent().parent().next();
                    console.log(next_fs.find("button[type='submit']").length)
                    if (next_fs.find("button[type='submit']").length > 0) {
                        set_preview()
                    }
                }

//Add Class Active
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active").find("i").addClass("active");

//show the next fieldset
                next_fs.show();
//hide the current fieldset with style
                if (!$(this).hasClass("preview")) {
                    current_fs.animate({opacity: 0}, {
                        step: function (now) {
// for making fielset appear animation
                            opacity = 1 - now;
                            current_fs.css({
                                'display': 'none',
                                'position': 'relative'
                            });
                            next_fs.css({'opacity': opacity});
                        },
                        duration: 600
                    });
                }

            });

            $(".previous").click(function () {

                current_fs = $(this).parent().parent();
                previous_fs = $(this).parent().parent().prev();

//Remove class active
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active").find("i").removeClass("active");

//show the previous fieldset
                previous_fs.show();

//hide the current fieldset with style
                current_fs.animate({opacity: 0}, {
                    step: function (now) {
// for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        previous_fs.css({'opacity': opacity});
                    },
                    duration: 600
                });
            });

            $('.radio-group .radio').click(function () {
                $(this).parent().find('.radio').removeClass('selected');
                $(this).addClass('selected');
            });

            $(".submit").click(function () {
                return false;
            })

        });

    </script>
    <script>
        $("#id_payment_method").on('click', function () {
            let valuee = $("#id_payment_method").val()
            if (valuee == 'CREDIT CARD') {
                $("#card_details").show()
            } else {
                $("#card_details").hide()
            }
        })
    </script>
    <script>
        $("#id_submit").on('click', function () {
            $("#id_cancel").fadeOut()

        })
    </script>
    {#    Card Expiry Field Code For getting Month and Year#}
    <script>
        const monthInput = document.querySelector('#month');
        const yearInput = document.querySelector('#year');

        const focusSibling = function (target, direction, callback) {
            const nextTarget = target[direction];
            nextTarget && nextTarget.focus();
            // if callback is supplied we return the sibling target which has focus
            callback && callback(nextTarget);
        }

        // input event only fires if there is space in the input for entry.
        // If an input of x length has x characters, keyboard press will not fire this input event.
        monthInput.addEventListener('input', (event) => {

            const value = event.target.value.toString();
            // adds 0 to month user input like 9 -> 09
            if (value.length === 1 && value > 1) {
                event.target.value = "0" + value;
            }
            // bounds
            if (value === "00") {
                event.target.value = "01";
            } else if (value > 12) {
                event.target.value = "12";
            }
            // if we have a filled input we jump to the year input
            2 <= event.target.value.length && focusSibling(event.target, "nextElementSibling");
            event.stopImmediatePropagation();
        });

        yearInput.addEventListener('keydown', (event) => {
            // if the year is empty jump to the month input
            if (event.key === "Backspace" && event.target.selectionStart === 0) {
                focusSibling(event.target, "previousElementSibling");
                event.stopImmediatePropagation();
            }
        });

        const inputMatchesPattern = function (e) {
            const {
                value,
                selectionStart,
                selectionEnd,
                pattern
            } = e.target;

            const character = String.fromCharCode(e.which);
            const proposedEntry = value.slice(0, selectionStart) + character + value.slice(selectionEnd);
            const match = proposedEntry.match(pattern);

            return e.metaKey || // cmd/ctrl
                e.which <= 0 || // arrow keys
                e.which == 8 || // delete key
                match && match["0"] === match.input; // pattern regex isMatch - workaround for passing [0-9]* into RegExp
        };

        document.querySelectorAll('input[data-pattern-validate]').forEach(el => el.addEventListener('keypress', e => {
            if (!inputMatchesPattern(e)) {
                return e.preventDefault();
            }
        }));
    </script>
    <script>
        $("#id_client").on('blur change', load_clients);

        function load_clients() {
            let value = $(this).val()
            if (value) {
                let url = "{% url 'get-client-details' %}?client_id=" + value
                $.get(url, function (response, success) {
                    $("#id_first_name").val(response.first_name)
                    $("#id_last_name").val(response.last_name)
                    $("#id_email").val(response.email)
                    $("#id_primary_phone").val(response.primary_phone)
                    $("#id_secondary_phone").val(response.secondary_phone)
                    $("#id_address").val(response.address)
                    $("#client_details").show()
                })
            } else {
                $("#client_details").hide()
            }
        }
    </script>
    <script>
        $('#id_vehicle_type').on("change", function () {
            let select = $(this)
            let vehicle_type = select.val()
            {#name = select.find("option:selected").html()#}
            let url = "{% url 'get-vehicle-type' %}?vehicle_type=" + vehicle_type
            $.get(url, function (response, success) {
                vehicles = response.data
                let options = "";
                for (let vehicle of vehicles) {
                    options += `<option value="${vehicle.id}">${vehicle.name}</option>`
                }
                $('#id_vehicle').html(options)
            })
        })
    </script>
    <script>
        $('#id_charge_by').on('blur change', function () {
            let category = $(this)
            let form = $('.mannan_form')
            {#$("#id_sales_tax").val('')#}
            let get_name = form.serializeArray()
            dataobj = {}
            $(get_name).each(function (i, field) {
                dataobj[field.name] = field.value
            })
            let vehicle_type = dataobj.vehicle_type
            let service_type = dataobj.service_type
            let charge_by_type = dataobj.charge_by
            if (vehicle_type && service_type && charge_by_type) {
                let url = "{% url 'get-charge-by-type' %}?vehicle_type=" + vehicle_type + '&service_type=' + service_type + '&charge_by=' + charge_by_type + '&reservation_id=' + {{reservation_id}}
                    $.get(url, function (response, success) {
                        let html = response.data
                        let taxes = response.taxes
                        let innerdata = $('.innerdata')
                        if (innerdata.length === 0) {
                            category.parent().parent().append("<div class='innerdata' style='margin-bottom: 20px'></div>")
                            innerdata = $('.innerdata')
                        }

                        innerdata.html(html)
                        if ({{ reservation_id }}) {
                        } else {
                            get_distance_in_miles()
                        }

                        $(".calculate_fare").on('change', calculate_fare)
                        for (var tax of taxes) {
                            if (tax != 0) {
                                $(`#${tax.id}`).val(tax.value)
                            } else {
                                $(`#${tax.id}`).val(0)
                            }
                        }
                    })

            } else {
                let select = $(this)
                let chargetype = select.val()
                let url = "{% url 'get-charge-by-type' %}?charge_by=" + chargetype
                $.get(url, function (response, success) {
                    let html = response.data
                    $("#hours_rows").html(' ')
                    $("#ajax_div_chargetype").html(html)

                })
            }
        })
    </script>
    <script>
        function myfunc(input) {
            input = $(input)
            let name = input.attr("name")
            let distance_in_miles = $("#id_distance_in_miles")
            let rate_per_mile = $("#id_rate_per_mile")
            distance_in_miles = distance_in_miles.val()
            rate_per_mile = rate_per_mile.val()
            let total = distance_in_miles * rate_per_mile
            $('#id_fare_amount').val(total)

        }
    </script>

    <script>
        function durfunc(input) {
            let category = $(input)
            let duration = $('#id_duration')
            duration = duration.val()
            duration = duration.replace("hrs", " ");
            duration = parseInt(duration)
            let fields = "";
            itr = 0
            for (let i = 0; i < duration; i++) {
                if (all_prices[0]) {
                    fields += `<p class="text-left">${i + 1} hr<input class="form-control hours_fare calculate_fare" type="text" placeholder="$0.00" value="${all_prices[itr]}" name="${i}hr" id="${i + 1}_hour" style="margin-left: auto"></input></p>`
                    itr += 1
                } else {
                    fields += `<p class="text-left">${i + 1} hr<input class="form-control hours_fare calculate_fare " type="text" placeholder="$0.00" name="${i}hr" id="${i + 1}_hour style="margin-left: auto"></input></p>`

                }
            }

            let hourlyfieldsinnerdata = $('.hourlyfieldsinnerdata')
            if (hourlyfieldsinnerdata.length === 0) {
                category.parent().append("<div class='hourlyfieldsinnerdata'></div>")
                hourlyfieldsinnerdata = $('.hourlyfieldsinnerdata')
            }
            hourlyfieldsinnerdata.html(fields)
            $(".calculate_fare").on('change', calculate_fare)


        }
    </script>
    <script>

        function datefunc(input) {
            let from_date = $('#id_from_date')
            from_date = from_date.val()
            let to_date = $('#id_to_date')
            to_date = to_date.val()
            from_date = Date.parse(from_date)
            to_date = Date.parse(to_date)
            let no_of_day = to_date - from_date
            no_of_day = no_of_day / 86400000
            $('#id_no_of_days').val(no_of_day)
            let rate_per_day = $('#id_rate_per_day')
            rate_per_day = rate_per_day.val()
            let fare_of_total_days = rate_per_day * no_of_day
            $('#id_base_fare').val(fare_of_total_days)
        }
    </script>
    <script>
        all_prices = []
        {%for price in prices  %}
            all_prices.push({{ price }})
        {% endfor %}

        $("#id_stops_between_ride").on('blur', function () {
            let reservations = []
            let stops = $(this)
            let fields = "";
            {% for reser in reservation %}
                reservations.push({
                    name: "{{ reser.name }}",
                    latlong: "{{ reser.lat }},{{ reser.long }}",
                })
            {% endfor %}
            for (let i = 1; i <= reservations.length; i++) {
                fields += `<p><input class="form-control stops_addresses" id="id_stops_address_${i}" type="text" placeholder="${i} stop"  name="${i} stop"  value="${reservations[i - 1].name}" style=" width: 82%"></input><input style="display: none" id="stops_latlong_${i}" type="text"
                                                   name="stops_latlong_${i}" value="${reservations[i - 1].latlong}" placeholder="lat-long"></p>`
            }
            let stop_value = $(this).val()
            let old_stops_value = $(this).attr('data-before')
            $("#id_stops_between_ride").attr('data-before', stop_value)
            stops.parent().parent().append(`<div class='stops_address' style='margin-bottom: 20px'>${fields}</div>`)
            $(".stops_addresses").keyup(get_address)
        })
    </script>
    <script>
        $("#id_stops_between_ride").on('blur change', function () {
            let stops = $(this)
            let fields = "";
            let stop_value = $(this).val()
            let old_stops_value = $(this).attr('data-before')
            let itr = 0;
            if (old_stops_value != stop_value && stop_value >= old_stops_value) {
                for (let i = parseInt(old_stops_value) + 1; i <= stop_value; i++) {
                    fields += `<p><input class="form-control stops_addresses" id="id_stops_address_${i}" type="text" placeholder="${i} stop"  name="${i} stop" style=" width: 82%" required></input><input style="display: none" id="stops_latlong_${i}" type="text"
                                                       name="stops_latlong_${i}" placeholder="lat-long"></p>`
                    itr += 1
                }
            }
            if (old_stops_value > stop_value) {
                let field_quantity = old_stops_value - stop_value
                for (let i = 1; i <= field_quantity; i++)
                    $(`#id_stops_address_${i + parseInt(stop_value)}`).remove()
            }
            $("#id_stops_between_ride").attr('data-before', stop_value)
            stops.parent().parent().append(`<div class='stops_address' style='margin-bottom: 20px'>${fields}</div>`)
            $(".stops_addresses").keyup(get_address)
        })

    </script>






    <script>
        function set_preview() {
            setTimeout(function () {
                $("fieldset").show().css("opacity", "1")

            }, 500)
            $(".finish").hide()

        }

        $(".preview").click(function () {


            }
        )
    </script>
    <script>
        $("#id_pickup_address,#id_destination_address").on('change', function () {
            get_distance_in_miles()
        })
    </script>
    <script>
        function get_distance_in_miles() {
            let charge_by = $("#id_charge_by").val()
            if (charge_by == 'DISTANCE RATE') {
                let pickup_latlong = $("#pickup_latlong").val()
                let destination_latlong = $("#destination_latlong").val()
                let stops_between_ride = $("#id_stops_between_ride").val()
                let context = {
                    'pickup_latlong': pickup_latlong,
                    'destination_latlong': destination_latlong,
                    'stops_between_ride': stops_between_ride,
                }
                for (let i = 1; i <= parseInt(stops_between_ride); i++) {
                    let stop_address = $(`#stops_latlong_${i}`).val()
                    {#stops_array.push({#}
                    {#    'lat_long': stop_address, })#}
                    context[`stop_${i}`] = stop_address
                }


                q = $.param(context);
                let url = "{% url 'get-distance-in-miles' %}?" + q
                $.get(url, function (response, success) {
                    let html = response
                    $("#id_distance_in_miles").val(html)
                    let distance_in_miles = $("#id_distance_in_miles").val()
                    let rate_per_mile = $("#id_rate_per_mile").val()
                    $("#id_fare_amount").val(distance_in_miles * rate_per_mile)
                    let base_fare = $("#id_base_fare").val()
                    let fare_amount = $("#id_fare_amount").val()
                    $("#id_total_fare").val(calculate_fare())
                    {#$("#id_total_fare").val(parseFloat(base_fare) + parseFloat(fare_amount))#}
                })
            }

        }
    </script>
    <script>
        function get_latlong(latlong) {
            const myArray = latlong.split(",");
            return myArray
        }
    </script>


    <script>
        $(".js-form").on("submit", function () {
            let form = $(this)
            let btn = form.find("button[type=submit]")
            btn.attr("disabled", "")
            let cancel = $("#outer").find("a")
            cancel.css("pointer-events", "none")
            btn.html("Prcessing...")
            $.ajax({
                url: form.attr("action"),
                type: form.attr("method"),
                data: form.serialize(),
                success: function (response) {
                    if (response.success) {
                        showNotification(response.message)
                        setTimeout(function () {
                            window.location.href = response.data.redirect_url
                        }, 1500)
                        console.log(response)

                    } else {
                        showNotification(response.message, "")
                    }
                    btn.removeAttr("disabled")
                    cancel.removeAttr("style")
                    btn.html("Submit")
                },
                error: function () {
                    btn.removeAttr("disabled")
                    btn.html("Submit")
                    cancel.removeAttr("style")
                }
            })
            return false;
        })

    </script>
{#    <script>#}
{#        $('#id_deposit_amount').on('keyup', function () {#}
{#            let amount = $(this).val()#}
{#            if (amount > 0) {#}
{#                $("#addBookDialog").modal('show');#}
{##}
{#            }#}
{##}
{#        })#}
{#    </script>#}
{#    <script>#}
{#        $(".ak").on('click', function () {#}
{#            let ak = $(this).text()#}
{#            $("#dpayment").html(ak)#}
{#            $("#dpayment").val(ak)#}
{##}
{#        })#}
{#    </script>#}
        <script>
        $("#").on('change', function () {
            let pickup_latlong = $("#pickup_latlong").val()
            let pickup_address_name = $("#id_pickup_address").val()
            pickup_latlong_seperate = get_latlong(pickup_latlong)
            let destination_latlong = $("#destination_latlong").val()
            let destination_address_name = $("#id_destination_address").val()
            destintion_latlong_seperate = get_latlong(destination_latlong)
            let stops_quantity = $("#id_stops_between_ride").val()
            let stops_array = []
            for (let i = 1; i <= parseInt(stops_quantity); i++) {
                let stop_address = $(`#stops_latlong_${i}`).val()
                let stop_latlong_seperate = get_latlong(stop_address)
                stops_array.push({
                    'lat': stop_latlong_seperate[0],
                    'long': stop_latlong_seperate[1],
                })
            }
            let context = {
                'pickup_details': {
                    'name': pickup_address_name,
                    'lat': pickup_latlong_seperate[0],
                    'long': pickup_latlong_seperate[1],
                },
                'destination_details': {
                    'name': destination_address_name,
                    'lat': destintion_latlong_seperate[0],
                    'long': destintion_latlong_seperate[1],
                },
                'stops': stops_array,
            }
        })


    </script>
    <script>
        $("#id_sales_tax").on('change', function () {

            let value = $(this).val()
            let sales_tax = $("#id_sales_tax_percentage")
            if (value){
            url = "{% url 'sales-tax-amount' %}?id=" + value
            $.get(url, function (response, success) {
                let tax = response.data

                sales_tax.val(tax)
                console.log("going to chage if=======")
                calculate_fare()
                console.log("change======")
            })
            }
            else{
                 sales_tax.val('')
                 console.log("going to chage")
                 calculate_fare()
                 console.log("change======")
            }

        })
    </script>
    <script>
        $(".calculate_fare").on('keyup', calculate_fare)

        function calculate_fare() {
            console.log("====================ENTERED===============================")
            let hour_fares = $(".hours_fare")
            let duration = $("#id_duration").val()
            let base_fare = $("#id_base_fare").val()
            let distance_in_miles = $("#id_distance_in_miles").val()
            let rate_per_mile = $("#id_rate_per_mile").val()
            let fare_amount = $("#id_fare_amount").val()
            let from_date = $("#id_from_date").val()
            let to_date = $("#id_to_date").val()
            let no_of_days = $("#id_no_of_days").val()
            let rate_per_day = $("#id_rate_per_day").val()
            let gratuity_percentage = $("#id_gratuity_percentage").val()
            let fuel_surcharge_percentage = $("#id_fuel_Surcharge_percentage").val()
            let discount_percentage = $("#id_discount_percentage").val()
            let sales_tax_percentage = $("#id_sales_tax_percentage").val()
            if  (!sales_tax_percentage){
                sales_tax_percentage=0
            }
            console.log("sales tax====",sales_tax_percentage)
            let tolls = $("#id_tolls").val()
            let meet_and_greet = $("#id_meet_and_greet").val()
            let additional_passenger_charge = $("#id_additional_passenger_charge").val()
            let additional_luggage_charge = $("#id_additional_luggage_charge").val()
            let additional_stops_charge = $("#id_additional_stops_charge").val()
            let deposit_amount = $("#id_deposit_amount").val()
            let stops = $("#id_stops_between_ride").val()
            {#let pickup_latlong = $("#pickup_latlong").val()#}
            {#let destination_latlong = $("#destination_latlong").val()#}
            let charge_by = $("#id_charge_by").val()
            let context = undefined
            if (charge_by == 'FLAT RATE') {
                if (duration && base_fare) {
                    context = {
                        'charge_by': 'FLAT RATE',
                        'duration': duration,
                        'base_fare': base_fare,
                    }
                }
            } else if (charge_by == 'HOURLY RATE') {
                let duration = $("#id_duration").val()
                if ($("#id_duration").length > 0) {
                    let splitted_duration = duration.split("hr")
                    let new_duration = splitted_duration[0]
                    {#let hours_fare = []#}
                    let total_hf = 0;
                    for (let hf of hour_fares) {
                        total_hf += parseInt(hf.value)
                    }
                    if (new_duration) {
                        context = {
                            'charge_by': 'HOURLY RATE',
                            'duration': duration,
                            'hours_fare': total_hf,
                        }
                    }


                }
            } else if (charge_by == 'DISTANCE RATE') {
                if (distance_in_miles && rate_per_mile && fare_amount && base_fare) {
                    context = {
                        'charge_by': 'DISTANCE RATE',
                        'distance_in_miles': distance_in_miles,
                        'rate_per_mile': rate_per_mile,
                        'fare_amount': fare_amount,
                        'base_fare': base_fare,
                    }
                }
            } else if (charge_by == 'DAILY RATE') {
                if (from_date && to_date && no_of_days && rate_per_day && base_fare) {
                    context = {
                        'charge_by': 'DAILY RATE',
                        'from_date': from_date,
                        'to_date': to_date,
                        'no_of_days': no_of_days,
                        'rate_per_day': rate_per_day,
                        'base_fare': base_fare,
                    }
                }
            }
            if (context && gratuity_percentage && fuel_surcharge_percentage && discount_percentage  && tolls && meet_and_greet && additional_passenger_charge && additional_luggage_charge && additional_stops_charge) {
                context['gratuity_percentage'] = gratuity_percentage
                context['fuel_surcharge_percentage'] = fuel_surcharge_percentage
                context['discount_percentage'] = discount_percentage
                context['sales_tax_percentage'] = sales_tax_percentage
                context['tolls'] = tolls
                context['meet_and_greet'] = meet_and_greet
                context['additional_per_passenger_charge'] = additional_passenger_charge
                context['additional_per_luggage_charge'] = additional_luggage_charge
                context['additional_per_stops_charge'] = additional_stops_charge
                {#context['pickup_latlong'] = pickup_latlong#}
                {#context['destination_latlong'] = destination_latlong#}
                context['vehicle_type'] = $("#id_vehicle_type").val()
                context['passenger_quantity'] = $("#id_passenger_quantity").val()
                context['luggage_quantity'] = $("#id_luggage_bags_quantity").val()
                context['stops'] = stops
                context['deposit_amount'] = deposit_amount
                q = $.param(context);


                let url = "{% url 'get-reservation-fare-amount' %}?" + q
                $.get(url, function (response, success) {
                    let html = response
                    $("#id_total_fare").val(html[0])
                    $("#id_balance_fare").val(html[1])
                })
            }
        }

    </script>


{% endblock %}
