{% load widget_tweaks %}
{% csrf_token %}


<div class="row reservation-start">
    {% for field in form %}
        {% if forloop.counter == 1 %}
            <div class="form-group {{ form_class }}">
                <small>{{ field.field.widget.attrs.label }}</small>
                <div class="service-type-select">
                    {% if readonly == 'readonly' %}
                        <label class="form-control-label label-form-dex">{{ field.label }} :</label>
                        {% render_field field class="form-control" placeholder=field.label readonly=readonly %}
                    {% else %}
                        <label class="form-control-label label-form-dex">{{ field.label }} :</label>
                        {% render_field field class="form-control" placeholder=field.label %}
                    {% endif %}
                    {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group col-md-4 " style="display: none" id="ajax_div_airport">
                <label class="form-control-label label-form-dex">Airports :</label>
                <select class="form-control " id="ajax_div_airport_select"></select>
            </div>
        {% endif %}

        {% if forloop.counter == 2 %}
            <div class="form-group {{ form_class }}">
                <small>{{ field.field.widget.attrs.label }}</small>
                <div class="">
                    {% if readonly == 'readonly' %}
                        <label class="form-control-label label-form-dex">{{ field.label }} :</label>
                        {% render_field field class="form-control input-group-alternative" placeholder=field.label readonly=readonly %}
                    {% else %}
                        <label class="form-control-label label-form-dex">{{ field.label }} :</label>
                        {% render_field field class="form-control input-group-alternative" placeholder=field.label %}
                    {% endif %}
                    {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    {% endfor %}
</div>
<div class="row" style="margin-left: -2.5%">
    <div class="col-md-5 form-inline reservation-outer">
        {% for field in form %}
            {% if forloop.counter > 2 and forloop.counter < 7 %}
                <div class=" col-md-5 reservation-inner">
                    <small>{{ field.field.widget.attrs.label }}</small>
                    <div class="">
                        {% if readonly == 'readonly' %}
                            {% if field.label == 'Passenger quantity' or field.label == 'Luggage bags quantity' %}
                                <label class="form-control-label label-form-dex">{{ field.label }} :</label>
                                {% render_field field class="form-control  calculate_fare" style="width: -webkit-fill-available;" placeholder=field.label readonly=readonly %}
                            {% endif %}
                            {% if field.label != 'Passenger quantity' and field.label != 'Luggage bags quantity' %}
                                <label class="form-control-label label-form-dex">{{ field.label }} :</label>
                                {% render_field field class="form-control " style="width: -webkit-fill-available;" placeholder=field.label readonly=readonly %}
                            {% endif %}
                        {% else %}
                            {% if field.label == 'Passenger quantity' or field.label == 'Luggage bags quantity' %}
                                <label class="form-control-label label-form-dex">{{ field.label }} :</label>
                                {% render_field field class="form-control  calculate_fare" style="width: -webkit-fill-available;" placeholder=field.label %}
                            {% endif %}
                            {% if field.label != 'Passenger quantity' and field.label != 'Luggage bags quantity' %}
                                <label class="form-control-label label-form-dex">{{ field.label }} :</label>
                                {% render_field field class="form-control " style="width: -webkit-fill-available;" placeholder=field.label %}
                            {% endif %}
                        {% endif %}
                        {% for error in field.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>

                </div>
            {% endif %}
            {% if forloop.counter > 6 %}
                <small>{{ field.field.widget.attrs.label }}</small>
                <div class="col-md-10 reservation-inner">
                    {% if readonly == 'readonly' %}
                        <label class="form-control-label label-form-dex">{{ field.label }} :</label>
                        {% render_field field class="form-control " style="width: -webkit-fill-available;" placeholder=field.label readonly=readonly %}
                    {% else %}


                        {% if field.label == 'Stops between ride' %}
                            <label class="form-control-label label-form-dex">{{ field.label }} :</label>
                            {% render_field field class="form-control " style="width: -webkit-fill-available;" data-before=0 placeholder=field.label %}
                        {% endif %}
                        {% if field.label != 'Stops between ride' %}
                            <label class="form-control-label label-form-dex">{{ field.label }} :</label>
                            {% render_field field class="form-control " style="width: -webkit-fill-available;" placeholder=field.label %}
                        {% endif %}

                    {% endif %}
                    {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <input style="display: none" id="pickup_latlong" type="text"
           name="pickup_latlong">
    <input style="display: none" id="destination_latlong"
           type="text" name="destination_latlong">
    <div class="col-md-6">
        <div id="map" style="height: 400px;width: 100%"></div>
        <div id="msg"></div>
    </div>

</div>
<script>
    // Initialize and add the map
    var map;

    function initMap() {
        // The map, centered on Central Park
        const center = {lat: 40.774102, lng: -73.971734};
        const options = {zoom: 15, scaleControl: true, center: center};
        map = new google.maps.Map(
            document.getElementById('map'), options);
        // Locations of landmarks
        const dakota = {lat: 40.7767644, lng: -73.9761399};
        const frick = {lat: 40.771209, lng: -73.9673991};
        // The markers for The Dakota and The Frick Collection
        var mk1 = new google.maps.Marker({position: dakota, map: map});
        var mk2 = new google.maps.Marker({position: frick, map: map});
    }
</script>
{#<script async defer#}
{#        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPFHIiScwARNq20c7nNYzKPY6sPFL6grE&callback=initMap">#}
{#</script>#}
<script>
    $('.service-type-select').on('blur change', function () {
        let service_type = $('#id_service_type option:selected').text()
        if (service_type == "Airport Pickup" || service_type == "Airport Dropoff") {
            $("#ajax_div_airport").show()
            let url = "{% url 'get-company-airport' %}"
            $.get(url, function (response, success) {
                var i;
                let html_options = '';
                let opt;
                for (i = 0; i < response.length; i++) {
                    opt = `<option  value="${response[i]}">${response[i]}</option>`
                    html_options += opt
                }
                $('#ajax_div_airport').find('select').html(html_options)
                console.log('list', html_options)
            })
        } else {
            $("#ajax_div_airport").hide()
        }
    })
</script>
<script>
    $('#ajax_div_airport_select').on('blur change', function () {
        let airport = $('#ajax_div_airport_select option:selected').text()
        let service_type = $('.service-type-select option:selected').text()
        let url = "{% url 'get-company-airport' %}?airport=" + airport
        $.get(url, function (response, success) {
            latlng = response
            if (service_type == 'Airport Pickup') {
                $("#id_pickup_address").val(airport)
                $("#pickup_latlong").val(latlng)
            }
            if (service_type == 'Airport Dropoff') {
                $("#id_destination_address").val(airport)
                $("#destination_latlong").val(latlng)
            }
        })


    })
</script>

