{% load static %}
<link rel="stylesheet" href={% static "assets/index2_css/bootstrap.min.css" %}>
<link rel="stylesheet" href={% static "assets/index2_css/animate.min.css" %}>
<link rel="stylesheet" href={% static "assets/index2_css/bootstrap-select.min.css" %}>
<link rel="stylesheet" href={% static "assets/index2_css/bootstrap-datepicker.min.css" %}>
{#    <link rel="stylesheet" href={% static "assets/index2_css/fontawesome-all.min.css" %}>#}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href={% static "assets/index2_css/magnific-popup.css" %}>
<link rel="stylesheet" href={% static "assets/index2_css/owl.carousel.min.css" %}>
<link rel="stylesheet" href={% static "assets/index2_css/owl.theme.default.min.css" %}>
<link rel="stylesheet" href={% static "assets/index2_css/swiper.min.css" %}>
<link rel="stylesheet" href={% static "assets/index2_css/apton-icons.css" %}>

<!-- theme styles -->
<link rel="stylesheet" href={% static "assets/index2_css/style.css" %}>
<link rel="stylesheet" href={% static "assets/index2_css/responsive.css" %}>
<style>
    .fa-gradient {
        background: linear-gradient(to right, #027975 0%, #211860 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
<style>
    .bg-secondary {
        background: linear-gradient(87deg, #027975, #211860 100%) !important;
        border-radius: 30px;
    }

    .banner-one {
        padding-top: 200px;
        padding-bottom: 90px;
        position: relative;
    }

    small > a {
        color: #3cdba9;
        text-decoration: underline;
    }

    label > a {
        color: #3cdba9;
        text-decoration: underline;
    }
</style>