{% extends 'dashboard/base.html' %}
{#{% load django_tables2 %}#}
{% load static %}
{% load widget_tweaks %}
{% block nav %}
    {% include 'dashboard/company/partials/nav.html' %}
{% endblock %}
{% block main %}

    <div class="main-content" id="panel">
        <!-- Topnav -->
        {% include 'dashboard/company/partials/top-nav.html' %}
        <!-- Header -->
        <!-- Header -->
        {% include 'dashboard/company/partials/header.html' %}
        <!-- Page content -->
        <div class="container-fluid mt--6">
            <!-- Table -->
            <div class="row">
                <div class="col-md-8">
                    <form method="post">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title">{{ page_title }}
                                    <span class="text-primary">{{ user }}</span>
                                </h5>
                            </div>
                            <div class="card-body">
                                {% for form in forms %}
                                    {% include 'company/partials/form.html' with form=form.form %}
                                {% endfor %}
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
{#                <div class="col-md-4">#}
{#                    <form method="post" enctype="multipart/form-data" action="#">#}
{#                        {% csrf_token %}#}
{#                        <div class="card card-user">#}
{#                            <div class="image">#}
{#                                <img src="{% static '' %}" alt="...">#}
{#                            </div>#}
{#                            <div class="card-body">#}
{#                                <div class="author">#}
{#                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">#}
{#                                        <div class="fileinput-new thumbnail img-circle">#}
{#                                            <img src="{% if user.userprofile.image %} {{ user.userprofile.image.url }} {% endif %}"#}
{#                                                 alt="...">#}
{#                                        </div>#}
{#                                        <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>#}
{#                                        <div>#}
{#                                                <span class="btn btn-round btn-primary btn-file">#}
{#                                                  <span class="fileinput-new">Update Photo</span>#}
{#                                                  <span class="fileinput-exists">Change</span>#}
{#                                                  <input type="file" accept="image/*" name="image"#}
{#                                                         id="id_image"/></span>#}
{#                                            <br/>#}
{#                                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists"#}
{#                                               data-dismiss="fileinput"><i class="fa fa-times"></i> Cancel</a>#}
{#                                        </div>#}
{#                                    </div>#}
{##}
{#                                </div>#}
{##}
{#                            </div>#}
{#                            <hr>#}
{#                            <div class="button-container">#}
{#                                <button disabled id="image_btn" type="submit" class="btn btn-primary">#}
{#                                    Save#}
{#                                    <i class="fa fa-check"></i>#}
{#                                </button>#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    {% if messages %}
        {% for message in messages %}
            <script>
                showNotification("", "{{message}}", "{{ message.tags }}", "fa fa-check")
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}