{% load widget_tweaks %}
{% csrf_token %}
{% for field in form %}
    <div class="col-lg-6 col-md-6">
        <div class="form-group mb-3">
            <label>{{ field.label }}</label>
            <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni {{ field.field.widget.attrs.data_icon }}"></i></span>
                </div>
                {% render_field field class="form-control" placeholder=field.label %}
                {% for error in field.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}