{% extends 'accounting/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

    <div class="page-content">
        <div class="page-title">
            <div class="row justify-content-between align-items-center">
                <div
                        class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                    <div class="d-inline-block">
                        <h5 class="h4 d-inline-block font-weight-400 mb-0 "> Journal Entry Create
                        </h5>
                    </div>
                </div>
                <div
                        class="col-xl-8 col-lg-8 col-md-8 d-flex align-items-center justify-content-between justify-content-md-end">
                </div>
            </div>
        </div>

        <form method="POST" action="" accept-charset="UTF-8" class="w-100">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        {% for field in journal_entry_form %}
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label for="journal_number"
                                           class="form-control-label">{{ field.label }}</label>
                                    {% if  field.field.widget.attrs.data_icon %}
                                        <div class="form-icon-user">
                                            <span><i class="{{ field.field.widget.attrs.data_icon }}"></i></span>
                                            {% render_field field class="form-control" %}
                                        </div>
                                    {% else %}
                                        {% render_field field class="form-control" %}
                                    {% endif %}
                                    <small style="color: red"> {{ field.errors }}</small>
                                </div>
                            </div>
                        {% endfor %}
                        {#                        <div class="col-lg-4 col-md-4">#}
                        {#                            <div class="form-group">#}
                        {#                                <label for="date"#}
                        {#                                       class="form-control-label">{{ journal_entry_form.dated.label_tag }}</label>#}
                        {#                                <div class="form-icon-user">#}
                        {#                                    <span><i class="fas fa-calendar"></i></span>#}
                        {#                                    {% render_field journal_entry_form.dated class="form-control" %}#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="col-lg-4 col-md-4">#}
                        {#                            <div class="form-group">#}
                        {#                                <label for="reference" class="form-control-label">Reference</label>#}
                        {#                                <div class="form-icon-user">#}
                        {#                                    <span><i class="fas fa-joint"></i></span>#}
                        {#                                    <input class="form-control" name="reference" type="text" value="" id="reference">#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="col-lg-8 col-md-8">#}
                        {#                            <div class="form-group">#}
                        {#                                <label for="description"#}
                        {#                                       class="form-control-label">{{ journal_entry_form.description.label_tag }}</label>#}
                        {#                                {% render_field journal_entry_form.description class="form-control" %}#}
                        {#                                <textarea class="form-control" rows="2" name="description" cols="50"#}
                        {#                                          id="description"></textarea>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card repeater">
                        <div class="item-section py-4">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md-12 d-flex align-items-center justify-content-between justify-content-md-end">
                                    <div class="all-button-box">
                                        <a href="#" data-repeater-create=""
                                           class="btn btn-xs btn-white btn-icon-only width-auto" data-toggle="modal"
                                           data-target="#add-bank">
                                            <i class="fas fa-plus"></i> Add Account
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body py-0">
                            <div class="table-responsive">
                                <table class="table table-striped mb-0"
                                >
                                    <thead>
                                    <tr>
                                        {% for label in journal_item_form_labels %}
                                            <th>{{ label }}</th>
                                        {% endfor %}
                                        <th class="text-right">Amount</th>
                                        <th width="2%"></th>
                                    </tr>
                                    </thead>

                                    <tbody id="sortable-table" data-repeater-list="accounts">
                                    {% for journal_item_form in journal_item_forms %}
                                        <tr class="ui-sortable" data-repeater-item>
                                            {% for field in journal_item_form %}
                                                <td>
                                                    <div class="form-group">
                                                        {% render_field field %}
                                                    </div>
                                                </td>
                                            {% endfor %}
                                            {#                                        <td width="25%">#}
                                            {#                                            <select class="form-control select2" required="required" name="account">#}
                                            {#                                                {% for account in chart_of_accounts %}#}
                                            {#                                                    <option value="{{ account.id }}">{{ account.name }}</option>#}
                                            {#                                                {% endfor %}#}
                                            {#                                            </select>#}
                                            {#                                        </td>#}
                                            {##}
                                            {#                                        <td>#}
                                            {#                                            <div class="form-group price-input">#}
                                            {#                                                <input class="form-control debit" required="required"#}
                                            {#                                                       placeholder="Debit" name="debit" type="text" value="">#}
                                            {#                                            </div>#}
                                            {#                                        </td>#}
                                            {#                                        <td>#}
                                            {#                                            <div class="form-group price-input">#}
                                            {#                                                <input class="form-control credit" required="required"#}
                                            {#                                                       placeholder="Credit" name="credit" type="text" value="">#}
                                            {#                                            </div>#}
                                            {#                                        </td>#}
                                            {#                                        <td>#}
                                            {#                                            <div class="form-group">#}
                                            {#                                                <input class="form-control" placeholder="Description" name="description"#}
                                            {#                                                       type="text" value="" id="description">#}
                                            {#                                            </div>#}
                                            {#                                        </td>#}
                                            <td class="text-right amount">0.00</td>
                                            <td>
                                                <a href="#" class="fas fa-trash text-danger" data-repeater-delete></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td></td>
                                        <td class="text-right"><strong>Total Credit ($)</strong></td>
                                        <td class="text-right totalCredit">0.00</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td class="text-right"><strong>Total Debit ($)</strong></td>
                                        <td class="text-right totalDebit">0.00</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-right">
                <input type="submit" value="Create" class="btn-create btn-xs badge-blue radius-10px">
                <input type="button" value="Cancel" onclick="location.href = '{% url 'journal-entry' %}';"
                       class="btn-create btn-xs bg-gray radius-10px">
            </div>
        </form>

    </div>
    </div>
    </div>

    <div class="modal fade" id="commonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div>
                    <h4 class="h4 font-weight-400 float-left modal-title" id="exampleModalLabel"></h4>
                    <a href="#" class="more-text widget-text float-right close-icon" data-dismiss="modal"
                       aria-label="Close">Close</a>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    {#    <script src="http://127.0.0.1:5000/assets/js/jquery-ui.min.js"></script>#}
    {#    <script src="http://127.0.0.1:5000/assets/js/jquery.repeater.min.js"></script>#}
    {#    <script src="{% static 'accounting/assets/js/jquery-ui.min.js' %}"></script>#}
    {#    <script src="{% static 'accounting/assets/js/jquery.repeater.min.js' %}"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
            integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.repeater/1.2.1/jquery.repeater.min.js"
            integrity="sha512-foIijUdV0fR0Zew7vmw98E6mOWd9gkGWQBWaoA1EOFAx+pY+N8FmmtIYAVj64R98KeD2wzZh1aHK0JSpKmRH8w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

    </script>
    <script>
        var selector = "body";
        if ($(selector + " .repeater").length) {
            var $dragAndDrop = $("body .repeater tbody").sortable({
                handle: '.sort-handler'
            });
            var $repeater = $(selector + ' .repeater').repeater({
                initEmpty: false,
                defaultValues: {
                    'status': 1
                },
                show: function () {
                    $(this).slideDown();
                    var file_uploads = $(this).find('input.multi');
                    if (file_uploads.length) {
                        $(this).find('input.multi').MultiFile({
                            max: 3,
                            accept: 'png|jpg|jpeg',
                            max_size: 2048
                        });
                    }
                    $('.select2').select2();
                },
                hide: function (deleteElement) {
                    if (confirm('Are you sure you want to delete this element?')) {
                        $(this).slideUp(deleteElement);
                        $(this).remove();

                        var inputs = $(".debit");
                        var totalDebit = 0;
                        for (var i = 0; i < inputs.length; i++) {
                            totalDebit = parseFloat(totalDebit) + parseFloat($(inputs[i]).val());
                        }
                        $('.totalDebit').html(totalDebit.toFixed(2));


                        var inputs = $(".credit");
                        var totalCredit = 0;
                        for (var i = 0; i < inputs.length; i++) {
                            totalCredit = parseFloat(totalCredit) + parseFloat($(inputs[i]).val());
                        }
                        $('.totalCredit').html(totalCredit.toFixed(2));


                    }
                },
                ready: function (setIndexes) {
                    $dragAndDrop.on('drop', setIndexes);
                },
                isFirstItemUndeletable: true
            });
            var value = $(selector + " .repeater").attr('data-value');
            if (typeof value != 'undefined' && value.length != 0) {
                value = JSON.parse(value);
                $repeater.setList(value);
            }

        }

        $(document).on('keyup', '.debit', function () {
            var el = $(this).parent().parent().parent();
            var debit = $(this).val();
            var credit = 0;
            el.find('.credit').val(credit);
            el.find('.amount').html(debit);


            var inputs = $(".debit");
            var totalDebit = 0;
            for (var i = 0; i < inputs.length; i++) {
                totalDebit = parseFloat(totalDebit) + parseFloat($(inputs[i]).val());
            }
            $('.totalDebit').html(totalDebit.toFixed(2));

            el.find('.credit').attr("disabled", true);
            if (debit == '') {
                el.find('.credit').attr("disabled", false);
            }
        })

        $(document).on('keyup', '.credit', function () {
            var el = $(this).parent().parent().parent();
            var credit = $(this).val();
            var debit = 0;
            el.find('.debit').val(debit);
            el.find('.amount').html(credit);

            var inputs = $(".credit");
            var totalCredit = 0;
            for (var i = 0; i < inputs.length; i++) {
                totalCredit = parseFloat(totalCredit) + parseFloat($(inputs[i]).val());
            }
            $('.totalCredit').html(totalCredit.toFixed(2));

            el.find('.debit').attr("disabled", true);
            if (credit == '') {
                el.find('.debit').attr("disabled", false);
            }
        })
        $("#id_journal_no").on("change", function () {
            let je = $(this)
            console.log(je.val())

        })

    </script>

{% endblock %}