{% extends 'dashboard/base.html' %}
{#{% load django_tables2 %}#}
{% load widget_tweaks %}
{% block extra_styles %}
    <style rel="stylesheet">
        .error {
            color: red;
            font-size: 12px;
            float: left;
            margin-top: 5px;
        }

        .input-group-alternative {
            box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%) !important;
        }

        #msform {
            text-align: center;
            position: relative;
            margin-top: 20px
        }

        #msform fieldset .form-card {
            background: white;
            border: 0 none;
            border-radius: 0px;
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
            padding: 20px 40px 30px 40px;
            box-sizing: border-box;
            width: 94%;
            margin: 0 3% 20px 3%;
            position: relative
        }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding-bottom: 20px;
            position: relative
        }


        #msform fieldset:not(:first-of-type) {
            display: none
        }

        #msform fieldset .form-card {
            text-align: left;
            color: #9E9E9E
        }


        select.list-dt {
            border: none;
            outline: 0;
            border-bottom: 1px solid #ccc;
            padding: 2px 5px 3px 5px;
            margin: 2px
        }

        select.list-dt:focus {
            border-bottom: 2px solid skyblue
        }

        .card {
            z-index: 0;
            border: none;
            border-radius: 0.5rem;
            position: relative
        }

        .fs-title {
            font-size: 25px;
            color: #2C3E50;
            margin-bottom: 10px;
            font-weight: bold;
            text-align: left
        }

        #progressbar {
            margin-bottom: 30px;
            overflow: hidden;
            color: lightgrey
        }

        #progressbar .active {
            color: #000000
        }

        #progressbar li {
            list-style-type: none;
            font-size: 12px;
            width: 25%;
            float: left;
            position: relative
        }


        #progressbar .fa:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 18px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px
        }

        #progressbar li:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 18px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1
        }

        #progressbar .fa:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background: linear-gradient(
                    87deg, #027975, #211860 100%) !important
        }

        #progressbar .fa.active:before, .fa.active:after {
            background: linear-gradient(
                    87deg, #027975, #211860 100%) !important
        }

        .radio-group {
            position: relative;
            margin-bottom: 25px
        }

        .radio {
            display: inline-block;
            width: 204px;
            height: 104px;
            border-radius: 0;
            background: lightblue;
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
            box-sizing: border-box;
            cursor: pointer;
            margin: 8px 2px
        }

        .radio:hover {
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
        }

        .radio.selected {
            box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
        }

        .fit-image {
            width: 100%;
            object-fit: cover
        }


        .modal-confirm {
            color: #636363;
            width: 400px;
        }

        .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
            text-align: center;
            font-size: 14px;
        }

        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
        }

        .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -10px;
        }

        .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -2px;
        }

        .modal-confirm .modal-body {
            color: #999;
        }

        .modal-confirm .modal-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
            padding: 10px 15px 25px;
        }

        .modal-confirm .modal-footer a {
            color: #999;
        }

        .modal-confirm .icon-box {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            border-radius: 50%;
            z-index: 9;
            text-align: center;
            border: 3px solid #f15e5e;
        }

        .modal-confirm .icon-box i {
            color: #f15e5e;
            font-size: 46px;
            display: inline-block;
            margin-top: 13px;
        }

        .modal-confirm .btn, .modal-confirm .btn:active {
            color: #fff;
            border-radius: 4px;
            background: #60c7c1;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            min-width: 120px;
            border: none;
            min-height: 40px;
            border-radius: 3px;
            margin: 0 5px;
        }

        .modal-confirm .btn-secondary {
            background: #c1c1c1;
        }

        .modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
            background: #a8a8a8;
        }

        .modal-confirm .btn-danger {
            background: #f15e5e;
        }

        .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
            background: #ee3535;
        }

        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }

        .exp-wrapper {
            position: relative;
            display: flex;
            width: 300px;
            justify-content: space-around;
            height: 46px;
            line-height: 26px;
            font-size: 24px;
        }

        .exp-wrapper:after {
            content: '/';
            position: absolute;
            left: 50%;
            margin-left: -4px;
            color: #aaa;
        }

        input.exp {
            float: left;
            font-family: 'Open Sans';
            border: 0;
            width: 42px;
            outline: none;
            appearance: none;
            font-size: 14px;
        }

        #outer {
            width: 50%;
            text-align: left;
            height: 40px;
            margin-top: -60px;
        }

        .inner {
            display: inline-block;
            position: absolute;
        }

        .label-form-dex {
            margin-top: -22px;
            float: left;
        }


    </style>
{% endblock %}
{% block nav %}
    {% include 'dashboard/company/partials/nav.html' %}
{% endblock %}
{% block main %}
    <div class="main-content" id="panel">
        <!-- Topnav -->
        {% include 'dashboard/company/partials/top-nav.html' %}
        <!-- Header -->
        <!-- Header -->
        {% include 'dashboard/company/partials/header.html' %}

        <div class="container-fluid mt--6">
            <!-- Table -->
            <div class="row">
                <div class="col ">
                    <div class="card mb-4">
                        <!-- Card header -->
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <h2 class="mb-0">{{ page_title }}</h2>
                                    <h4 class="mb-0">{{ subtitle }}</h4>
                                </div>
                                <div class="col-md-6 col-sm-6 text-right">
                                    {% if edit_client %}
                                        <a href="{{ edit_client.href }}" class="{{ edit_client.classes }} btn-sm"
                                        ><span>{{ edit_client.title }}</span></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- Card body -->
                        <div class="card-body">

                            <!-- Form groups used in grid -->

                            <form action="{{ action }}" method="post" id="msform" class="js-form"
                                  enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- progressbar -->
                                <ul id="progressbar">
                                    {% for step in form_steps %}
                                        {% if not step.preview %}
                                            <li class="step {% if step.active %}active{% endif %}"
                                                id='{{ step.title.split|join:"_" }}'>
                                                <i class="{{ step.icon }} {% if step.active %}active{% endif %}"></i><br>
                                                <strong>{{ step.title }}</strong></li>

                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <!-- fieldsets -->
                                {% for step in form_steps %}
                                    <fieldset>
                                        {% if not step.preview %}
                                            <h2 class="fs-title">{{ step.title }}</h2>
                                        {% endif %}

                                        {% for form in step.forms %}
                                            {% include "dashboard/forms.html" with form=form.form_name form_class=form.form_class client_form=form.client_form readoly=readonly %}
                                            {% if form.card_details %}
                                                <div class="row" style="margin-bottom: 10px;"
                                                     id="card_num_and_expiry">
                                                    <div class="col-3">
                                                        <label> Card Number</label>
                                                        <input class="form-control" id="card_number_detail" type="text"
                                                               name="card_number_detail"
                                                               placeholder="Card Number"
                                                               value="**** **** **** {{ form.card_number }}"
                                                               required>
                                                    </div>
                                                    <div class="col-3">
                                                        <label> Card Expiry</label>
                                                        <input class="form-control" id="card_expiry_detail" type="text"
                                                               name="card_expiry_detail"
                                                               placeholder="Card Expiry" value="{{ form.card_expiry }}"
                                                               required>
                                                    </div>
                                                    <div class="col-3">
                                                        <button class="btn btn-primary" id="card_details_change"
                                                                type="button"
                                                                name="card_edit_detail"
                                                                placeholder="Card Expiry"
                                                                required><span>Change Details</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if form.card_details_view %}
                                                <div class="row" style="margin-bottom: 10px;"
                                                     id="card_num_and_expiry">
                                                    <div class="col-3">
                                                        <label> Card Number</label>
                                                        <input class="form-control" id="card_number_detail" type="text"
                                                               name="card_number_detail"
                                                               placeholder="Card Number"
                                                               value="**** **** **** {{ form.card_number }}"
                                                               required readonly="readonly">
                                                    </div>
                                                    <div class="col-3">
                                                        <label> Card Expiry</label>
                                                        <input class="form-control" id="card_expiry_detail" type="text"
                                                               name="card_expiry_detail"
                                                               placeholder="Card Expiry" value="{{ form.card_expiry }}"
                                                               required readonly="readonly">
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if form.card_fields %}


                                                <div class="row" style="margin-bottom: 10px; display: none"
                                                     id="card_details">
                                                    <div class="col-3">
                                                        <input class="form-control" id="card_name" type="text"
                                                               name="card_name"
                                                               placeholder="Card Holder Name" required>
                                                    </div>
                                                    <div class="col-3">
                                                        <input class="form-control" id="cvv" type="text" name="cvv"
                                                               placeholder="Cvv" minlength="3" maxlength="3" required>
                                                    </div>
                                                    <div class="col-3">
                                                        <input class="form-control" id="card_number" type="text"
                                                               name="card_number" maxlength="16" minlength="16"
                                                               placeholder="Card Number" required>
                                                    </div>
                                                    <div class="col-3 exp-wrapper form-control">
                                                        <input autocomplete="off" name="exp_month" class="exp"
                                                               id="month" maxlength="2"
                                                               pattern="[0-9]*" inputmode="numerical" placeholder="MM"
                                                               type="text" data-pattern-validate/>
                                                        <input autocomplete="off" name="exp_year" class="exp" id="year"
                                                               maxlength="2"
                                                               pattern="[0-9]*" inputmode="numerical" placeholder="YY"
                                                               type="text" data-pattern-validate/>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}

                                        <div style="text-align:end">
                                            {% for action in step.actions %}
                                                <button href="{{ action.href }}" type="{{ action.type }}"
                                                        name="{{ action.title }}" id="{{ action.id }}"
                                                        class="{{ action.classes }}">
                                                    <span> {{ action.title }}</span>
                                                </button>
                                            {% endfor %}
                                        </div>

                                    </fieldset>

                                {% endfor %}

                                <div id="outer">
                                    <div class=" {{ cancel_button.id }} inner">
                                        {% if cancel_button %}
                                            <a href="{{ cancel_button.href }}"
                                               class="{{ cancel_button.classes }}"
                                            ><span>{{ cancel_button.title }}</span></a>
                                        {% endif %}
                                    </div>
                                    <div class="inner ml-7">
                                        {% if delete_client %}
                                            <a href="#myModal"
                                               class="{{ delete_client.classes }}" data-target="#myModal"
                                               data-toggle="modal" data-url="{{ delete_client.href }}"
                                               style=" padding: 9px"><span><i
                                                    class="fa fa-trash "></i>
                                                {{ delete_client.title }}</span></a>
                                        {% endif %}
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal HTML -->
        <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header flex-column">
                        <div class="icon-box">
                            <i class="fa fa-trash-o"></i>
                        </div>
                        <h4 class="modal-title w-100">Are you sure?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Do you really want to delete these records? This process cannot be undone.</p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                        <a href="" class="btn btn-danger delete">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Page content -->
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>#}
    {#    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>#}

{% endblock %}
{% block extra_js %}
    {% if messages %}
        {% for message in messages %}
            <script>
                showNotification("", "{{message}}", "{{ message.tags }}", "fa fa-check")
            </script>
        {% endfor %}
    {% endif %}
    <script>
        $(document).ready(function () {
                $(".js-form").validate({
                    rules: {
                        email: {
                            required: true,
                            email: true
                        }

                    }
                })
                var current_fs, next_fs, previous_fs; //fieldsets
                var opacity;
                $(".next").click(function () {
                    var form = $("#msform");
                    if (form.valid() == true) {
                        current_fs = $(this).parent().parent();
                        next_fs = $(this).parent().parent().next();
                        if (next_fs.find("button[type='submit']").length > 0) {
                            set_preview()
                        }
                    }
//Add Class Active
                    $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active").find("i").addClass("active");

//show the next fieldset
                    next_fs.show();

                    {#let next_fs_btn = next_fs.find("button[type='submit']")#}
                    {#if (next_fs_btn.hasClass("btn-submit")) {#}
                    {#    next_fs_btn.parent().siblings("h1").hide()}#}

//hide the current fieldset with style
                    if (!$(this).hasClass("preview")) {
                        current_fs.animate({opacity: 0}, {
                            step: function (now) {
// for making fielset appear animation
                                opacity = 1 - now;
                                current_fs.css({
                                    'display': 'none',
                                    'position': 'relative'
                                });
                                next_fs.css({'opacity': opacity});
                            },
                            duration: 600
                        });
                    }
                });

                $(".previous").click(function () {

                    current_fs = $(this).parent().parent();
                    previous_fs = $(this).parent().parent().prev();

//Remove class active
                    $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active").find("i").removeClass("active");

//show the previous fieldset
                    previous_fs.show();

//hide the current fieldset with style
                    current_fs.animate({opacity: 0}, {
                        step: function (now) {
// for making fielset appear animation
                            opacity = 1 - now;

                            current_fs.css({
                                'display': 'none',
                                'position': 'relative'
                            });
                            previous_fs.css({'opacity': opacity});
                        },
                        duration: 600
                    });
                });

                $('.radio-group .radio').click(function () {
                    $(this).parent().find('.radio').removeClass('selected');
                    $(this).addClass('selected');
                });

                $(".submit").click(function () {
                    return false;
                })

            }
        )
        ;

    </script>
    <script>
        $("#id_payment_method").on('change', function () {
            console.log("this is payment method pressed===")
            let valuee = $("#id_payment_method").val()
            if (valuee == 'CREDIT CARD') {
                console.log("here i am in credit card")
                $("#card_details").show()
            } else {
                $("#card_details").hide()
            }
        })
    </script>
    {#    for hiding cancel button on clicking on submit button #}
    <script>
        $("#id_submit").on('click', function () {
            $("#id_cancel").fadeOut()

        })
    </script>
    {#    Card Expiry Field Code For getting Month and Year#}
    <script>
        const monthInput = document.querySelector('#month');
        const yearInput = document.querySelector('#year');

        const focusSibling = function (target, direction, callback) {
            const nextTarget = target[direction];
            nextTarget && nextTarget.focus();
            // if callback is supplied we return the sibling target which has focus
            callback && callback(nextTarget);
        }

        // input event only fires if there is space in the input for entry.
        // If an input of x length has x characters, keyboard press will not fire this input event.
        monthInput.addEventListener('input', (event) => {

            const value = event.target.value.toString();
            // adds 0 to month user input like 9 -> 09
            if (value.length === 1 && value > 1) {
                event.target.value = "0" + value;
            }
            // bounds
            if (value === "00") {
                event.target.value = "01";
            } else if (value > 12) {
                event.target.value = "12";
            }
            // if we have a filled input we jump to the year input
            2 <= event.target.value.length && focusSibling(event.target, "nextElementSibling");
            event.stopImmediatePropagation();
        });

        yearInput.addEventListener('keydown', (event) => {
            // if the year is empty jump to the month input
            if (event.key === "Backspace" && event.target.selectionStart === 0) {
                focusSibling(event.target, "previousElementSibling");
                event.stopImmediatePropagation();
            }
        });

        const inputMatchesPattern = function (e) {
            const {
                value,
                selectionStart,
                selectionEnd,
                pattern
            } = e.target;

            const character = String.fromCharCode(e.which);
            const proposedEntry = value.slice(0, selectionStart) + character + value.slice(selectionEnd);
            const match = proposedEntry.match(pattern);

            return e.metaKey || // cmd/ctrl
                e.which <= 0 || // arrow keys
                e.which == 8 || // delete key
                match && match["0"] === match.input; // pattern regex isMatch - workaround for passing [0-9]* into RegExp
        };

        document.querySelectorAll('input[data-pattern-validate]').forEach(el => el.addEventListener('keypress', e => {
            if (!inputMatchesPattern(e)) {
                return e.preventDefault();
            }
        }));
    </script>
    <script>
        $(document).ready(function () {
            $('#myModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var url = button.attr('data-url') // Extract info from data-* attributes
                var modal = $(this)
                let name = $('#id_first_name').val()
                console.log("this is th ename====", name)
                modal.find('.modal-title').html('Delete <strong>' + name + '</strong> ?')
                modal.find('.modal-body')
                    .html(`<p>Make sure before you delete. This action will delete every data related to <code>${name}</code></p>`)
                modal.find('a.delete').attr('href', url)
            })
        })
    </script>
    <script>
        $(".js-form").on("submit", function () {
            let form = $(this)
            let btn = form.find("button[type=submit]")
            btn.attr("disabled", "")
            let cancel = $("#outer").find("a")
            cancel.css("pointer-events", "none")
            btn.html("Prcessing...")
            $.ajax({
                url: form.attr("action"),
                type: form.attr("method"),
                data: form.serialize(),
                success: function (response) {
                    if (response.success) {
                        showNotification(response.message)
                        setTimeout(function () {
                            window.location.href = response.data.redirect_url
                        }, 1500)
                        console.log(response)

                    } else {
                        showNotification(response.message, "")
                    }
                    btn.removeAttr("disabled")
                    cancel.removeAttr("style")
                    btn.html("Submit")
                },
                error: function () {
                    btn.removeAttr("disabled")
                    btn.html("Submit")
                    cancel.removeAttr("style")
                }
            })
            return false;
        })

    </script>
    <script>
        function set_preview() {
            setTimeout(function () {
                $("fieldset").show().css("opacity", "1")

            }, 500)
            $(".finish").hide()

        }

        $(".preview").click(function () {


            }
        )
    </script>
    <script>
        $("#card_details_change").click(function () {
            {#console.log("hello i am pressed")#}
            $("#card_details").show()
        })
    </script>

{% endblock %}