{% extends 'accounting/base.html' %}

{% block content %}

    <div class="page-content">
        <div class="page-title">
            <div class="row justify-content-between align-items-center">
                <div
                        class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                    <div class="d-inline-block">
                        <h5 class="h4 d-inline-block font-weight-400 mb-0 "> Income Summary
                        </h5>
                    </div>
                </div>
                <div
                        class="col-xl-8 col-lg-8 col-md-8 d-flex align-items-center justify-content-between justify-content-md-end">
                    <div class="row d-flex justify-content-end">
                        <div class="col">
                            <form method="GET" action="http://127.0.0.1:5000/report/transaction" accept-charset="UTF-8"
                                  id="transaction_report">
                                <div class="all-select-box">
                                    <div class="btn-box">
                                        <label for="start_month" class="text-type">Start Month</label>
                                        <input class="month-btn form-control" name="start_month" type="month"
                                               value="2022-02" id="start_month">
                                    </div>
                                </div>
                        </div>

                        <div class="col">
                            <div class="all-select-box">
                                <div class="btn-box">
                                    <label for="end_month" class="text-type">End Month</label>
                                    <input class="month-btn form-control" name="end_month" type="month" value="2021-09"
                                           id="end_month">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="all-select-box">
                                <div class="btn-box">
                                    <label for="account" class="text-type">Account</label>
                                    <select class="form-control select2" id="account" name="account">
                                        <option value="" selected="selected">All</option>
                                        <option value="strip-paypal">Stripe / Paypal</option>
                                        <option value="1">Cash</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="all-select-box">
                                <div class="btn-box">
                                    <label for="category" class="text-type">Category</label>
                                    <select class="form-control select2" id="category" name="category">
                                        <option value="" selected="selected">All</option>
                                        <option value="Bill">Bill</option>
                                        <option value="Invoice">Invoice</option>
                                        <option value="Fuel">Fuel</option>
                                        <option value="Rides">Rides</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto my-auto">
                            <a href="#" class="apply-btn"
                               onclick="document.getElementById('transaction_report').submit(); return false;"
                               data-toggle="tooltip" data-original-title="apply">
                                <span class="btn-inner--icon"><i class="fas fa-search"></i></span>
                            </a>
                            <a href="http://127.0.0.1:5000/report/transaction" class="reset-btn" data-toggle="tooltip"
                               data-original-title="Reset">
                                <span class="btn-inner--icon"><i class="fas fa-trash-restore-alt"></i></span>
                            </a>
                            <a href="#" class="action-btn" onclick="saveAsPDF()" data-toggle="tooltip"
                               data-original-title="Download">
                                <span class="btn-inner--icon"><i class="fas fa-download"></i></span>
                            </a>
                        </div>
                    </div>

                    </form>


                </div>
            </div>
        </div>
        <div id="printableArea">
            <div>
                <div class="row mt-3">
                    <div class="col">
                        <input type="hidden" value="All Category Transaction Report of Feb-2022 to Sep-2021"
                               id="filename">
                        <div class="card p-4 mb-4">
                            <h5 class="report-text gray-text mb-0">Report :</h5>
                            <h5 class="report-text mb-0">Transaction Summary</h5>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-4 mb-4">
                            <h5 class="report-text gray-text mb-0">Duration :</h5>
                            <h5 class="report-text mb-0">Feb-2022 to Sep-2021</h5>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="card p-4 mb-4">
                            <h5 class="report-text gray-text mb-0">Total Income</h5>
                            <h5 class="report-text mb-0">${{ debit_sum }}</h5>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">


                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="all-button-box">
                                <a href="#" data-size="2xl"

                                   data-toggle="modal" data-target="#incomeModal"
                                   class="btn btn-xs btn-white btn-icon-only width-auto commonModal">
                                    <i class="fas fa-plus"></i> Add Income
                                </a>
                            </div>


                            <div class="table-responsive pt-4">
                                <table class="table table-striped mb-0 dataTable">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Account</th>
                                        <th>Type</th>
                                        <th>Category</th>
                                        <th>Description</th>
                                        <th>Amount</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for transaction in all_transactions %}
                                        {% if transaction.transaction_type == 'Deposit' %}
                                            <tr>
                                                <td>{{ transaction.dated }}</td>
                                                <td>
                                                    {{ transaction.account_type.name }}
                                                </td>
                                                <td>{{ transaction.transaction_type }}</td>
                                                <td>{{ transaction.category.name }}</td>
                                                <td>{{ transaction.description }}</td>
                                                <td>${{ transaction.amount }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="modal fade" id="incomeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div>
                    <h4 class="h4 font-weight-400 float-left modal-title" id="exampleModalLabel">Add Income
                    </h4>
                    <a href="#" class="more-text widget-text float-right close-icon" data-dismiss="modal"
                       aria-label="Close">Close</a>
                </div>
                <div class="modal-body">
                    <div class="card bg-none card-box">
                        <form method="POST" action="{% url 'add-transaction' %}" accept-charset="UTF-8">

                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="date" class="form-control-label">Date</label>
                                    <div class="form-icon-user">
                                        <span><i class="fas fa-calendar"></i></span>
                                        <input class="form-control datepicker" required="required" name="dated"
                                               type="text" value="" id="bill_date">


                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="amount" class="form-control-label">Amount</label>
                                    <div class="form-icon-user">
                                        <span><i class="fas fa-money-bill-alt"></i></span>
                                        <input class="form-control" required="required" step="0.01" name="amount"
                                               type="number" value="" id="amount">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="input-group">
                                        <label for="account_id" class="form-control-label">Account</label>
                                        <select class="form-control  select2 select2-container"
                                                required="required" id="account_type" name="account_type"
                                                data-select2-id="account_type" tabindex="-1" aria-hidden="true">
                                            {% for option in income_options.account_type %}
                                                <option value="{{ option.name }}"
                                                > {{ option.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="amount" class="form-control-label">Transaction Type</label>
                                    <div class="form-icon-user">
                                        <span><i class="fas fa-cash-register"></i></span>
                                        <input class="form-control" required="required" step="0.01"
                                               name="transaction_type"
                                               type="text" value="{{ income_options.transaction_type }}"
                                               id="transaction_type" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="input-group">
                                        <label for="category_id" class="form-control-label">Category</label>
                                        <select class="form-control select2 select2-container"
                                                required="required" id="category" name="category"
                                                data-select2-id="category" tabindex="-1" aria-hidden="true">
                                            {% for option in income_options.category %}
                                                <option value="{{ option.name }}"
                                                > {{ option.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {#                                <div class="form-group col-md-6">#}
                                {#                                    <label for="reference" class="form-control-label">Reference</label>#}
                                {#                                    <div class="form-icon-user">#}
                                {#                                        <span><i class="fas fa-sticky-note"></i></span>#}
                                {#                                        <input class="form-control" name="reference" type="text" value=""#}
                                {#                                               id="reference">#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                <div class="form-group  col-md-12">
                                    <label for="description" class="form-control-label">Description</label>
                                    <textarea class="form-control" rows="3" name="description" cols="50"
                                              id="description"></textarea>
                                </div>


                                <div class="col-md-12">
                                    <input type="submit" value="Create" class="btn-create badge-blue">
                                    <input type="button" value="Cancel" class="btn-create bg-gray" data-dismiss="modal">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var dataTabelLang = {
            paginate: {previous: "Previous", next: "Next"},
            lengthMenu: "Show _MENU_ entries",
            zeroRecords: "No data available in table",
            info: "Showing _START_ to _END_ of _TOTAL_ entries",
            infoEmpty: " ",
            search: "Search:"
        }
    </script>
    <script>
        var filename = $('#filename').val();

        function saveAsPDF() {
            var element = document.getElementById('printableArea');
            var opt = {
                margin: 0.3,
                filename: filename,
                image: {type: 'jpeg', quality: 1},
                html2canvas: {scale: 4, dpi: 72, letterRendering: true},
                jsPDF: {unit: 'in', format: 'A4'}
            };
            html2pdf().set(opt).from(element).save();

        }

        $(document).ready(function () {
            var filename = $('#filename').val();
            $('#report-dataTable').DataTable({
                dom: 'lBfrtip',
                buttons: [
                    {
                        extend: 'excel',
                        title: filename
                    },
                    {
                        extend: 'pdf',
                        title: filename
                    }, {
                        extend: 'csv',
                        title: filename
                    }
                ]
            });
        });
    </script>



{% endblock %}