{% extends 'accounting/base.html' %}
{% load django_tables2 %}

{% block content %}
    <div class="page-content">
        <div class="page-title">
            <div class="row justify-content-between align-items-center">
                <div
                        class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                    <div class="d-inline-block">
                        <h5 class="h4 d-inline-block font-weight-400 mb-0 "> All Reservations
                        </h5>
                    </div>
                </div>
                <div
                        class="col-xl-8 col-lg-8 col-md-8 d-flex align-items-center justify-content-between justify-content-md-end">

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-12">
                        <div class="all-button-box">
                            <a href="#" data-url="http://127.0.0.1:5000/revenue/create" data-ajax-popup="true"
                               data-title="Create New Revenue" class="btn btn-xs btn-white btn-icon-only width-auto">
                                <i class="fas fa-plus"></i> Create
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body py-0 mt-2">


                        <div class="table-responsive">
                            {% render_table table %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="commonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div>
                    <h4 class="h4 font-weight-400 float-left modal-title" id="exampleModalLabel">Make Payment</h4>
                    <a href="#" class="more-text widget-text float-right close-icon" data-dismiss="modal"
                       aria-label="Close">Close</a>
                </div>
                <div class="modal-body">
                    <div class="card bg-none card-box">
                        <form method="POST" action="{% url 'reservations-payment' %}" accept-charset="UTF-8">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input id="reservation_id" type="hidden" name="reservation_id">
                                    <label for="name" class="form-control-label">Dated</label>
                                    <input style="line-height: 20px !important;" class="form-control"
                                           required="required" name="dated" type="date" value="" id="dated">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="code" class="form-control-label">Amount</label>
                                    <input class="form-control" required="required" name="amount" type="number" value=""
                                           id="amount">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="type" class="form-control-label">Account</label>
                                    <select class="form-control select2 select2-hidden-accessible" required="required"
                                            id="account" name="account" data-select2-id="account" tabindex="-1"
                                            aria-hidden="true">
                                        {% for account1 in payment_accounts %}
                                            <option value="{{ account1.name }}">{{ account1.name }}</option>
                                        {% endfor %}

                                    </select>
                                    <div class="col-md-12">
                                        <input type="submit" value="Create" class="btn-create badge-blue">
                                        <input type="button" value="Cancel" class="btn-create bg-gray"
                                               data-dismiss="modal">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        $(".resevation").on("click", function () {
            let field = $(this)
            let id_field = $('#reservation_id');
            id_field.val(field.attr('id'))

            console.log(field.attr('id'))


        })

    </script>
{% endblock %}
{% block script %}

{% endblock %}