{% extends 'dashboard/base.html' %}
{#{% load django_tables2 %}#}
{% load widget_tweaks %}
{% block nav %}
    {{ nav_bar }}
{% endblock %}
{% block main %}
    <div class="main-content" id="panel">
        {#        {% include 'dashboard/company/partials/top-nav.html' %}#}
        {% include 'dashboard/company/partials/header.html' %}
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col ">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h2 class="mb-0">{{ page_title }}</h2>
                            <h4 class="mb-0">{{ subtitle }}</h4>
                        </div>

                        <div class="card-body">

                            {% if change_pass %}
                                <form method="post" action="{% url 'change-pass' %}">
                                    {% csrf_token %}
                                    <fieldset id="email-field" class="with-placeholder">
                                        <legend class="form-control font-weight-bolder text-dark">Current Password
                                        </legend>
                                        <div>
                                            <input class="form-control " type="password" name="current_password"
                                                   id="current_password"
                                                   autocomplete="off" autocorrect="off"
                                                   autocapitalize="off"
                                                   spellcheck="false" required placeholder="Current Password"/>
                                            <div class=" placeholder">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset id="password-field">
                                        <legend class="form-control font-weight-bolder text-dark">New Password</legend>
                                        <div>
                                            <input class="form-control" type="password" name="new_password"
                                                   id="new_password"
                                                   autocomplete="off" autocorrect="off"
                                                   autocapitalize="off" spellcheck="false" required
                                                   placeholder="New Password"/>
                                        </div>
                                    </fieldset>
                                    <fieldset id="password-field">
                                        <legend class="form-control font-weight-bolder text-dark">Confirm New Password
                                        </legend>
                                        <div>
                                            <input class="form-control " type="password" name="confirm_new_password"
                                                   id="confirm_new_password" autocomplete="off" autocorrect="off"
                                                   autocapitalize="off" spellcheck="false" required
                                                   placeholder="Confirm New Password"/>
                                        </div>
                                    </fieldset>
                                    <fieldset id=" submit-field">
                                        <legend></legend>
                                        <div class="row">
                                            <div class="col-5"></div>
                                            <div class="col-6">
                                                <input class="btn-lg btn-primary form-control"
                                                       style="line-height: 0.75;font-size: 20px; height: 40px;width: 150px"
                                                       type="submit"
                                                       name="submit"
                                                       id="submit"
                                                       value="Submit"/>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            {% endif %}
                            <form method="post" class="mannan_form" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% if total_amount %}
                                    <div class="col-md-12 col-md-3">
                                        <h2>${{ total_amount }}</h2>
                                    </div>

                                {% endif %}

                                {% if employee_form %}
                                    <div class="row">
                                        <div class="col-md-12 mt-3">
                                            {% if employee_form_tag %}
                                                <div class="col-md-12 col-md-3">
                                                    <h2>{{ employee_form_tag }}</h2>
                                                </div>
                                            {% endif %}
                                            <h2>{{ employee_form_name }}</h2>
                                        </div>
                                        {% for field in employee_form %}
                                            {% if field.name == "title" %}
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="form-control-label">{{ field.label }}</label>
                                                        {% render_field field class="form-control" placeholder=field.label %}
                                                        <button class="btn-sm btn-primary" style="margin-top: 5px"
                                                                type="button" id="id-btn">
                                                            <span>&plus; Add New Position</span>
                                                        </button>
                                                        <div id="id-input" style="display: none">
                                                            <input id="id-input-field-add-position"
                                                                   class="add-manual-design"
                                                                   placeholder="Add New Position "
                                                            />
                                                            <div class="text-white ml-8 mt-1 form-inline"
                                                                 style="float: right">
                                                                <a id="id-submit" class="btn-sm btn-primary mr-1"><span>
                                                                    Add</span></a>
                                                                <a id="id-cancel" class="btn-sm btn-danger">Cancel</a>
                                                            </div>
                                                        </div>
                                                        <small style="color: red">
                                                            {{ field.errors }}
                                                        </small>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if not field.name == "title" %}
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-control-label">{{ field.label }}</label>
                                                        {% render_field field class="form-control" placeholder=field.label %}
                                                        <small style="color: red">
                                                            {{ field.errors }}
                                                        </small>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% if form1 %}
                                    <div class="row">
                                        <div class="col-md-12 mt-3">
                                            {% if form1_tag %}
                                                <div class="col-md-12 col-md-3">
                                                    <h2>{{ form1_tag }}</h2>
                                                </div>
                                            {% endif %}
                                            <h2>{{ form1_name }}</h2>
                                        </div>
                                        {% for field in form1 %}
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    {% if  field.label == 'Non Refundable Fee($)' or field.label == 'Material Fee($)' or field.label == 'Tuition Fee($)' or field.label == 'Application Fee($)' or field.label == 'Discount($)' %}
                                                        <label class="form-control-label label-form-dex">{{ field.label }}
                                                            :</label>
                                                        {% with "form-control "|add:'calculate_total_fee' as classnames %}
                                                            {% render_field field class=classnames placeholder=field.label %}
                                                        {% endwith %}

                                                    {% else %}
                                                        <label class="form-control-label label-form-dex">{{ field.label }}
                                                            :</label>
                                                        {% render_field field class="form-control" placeholder=field.label %}
                                                        <small style="color: red">
                                                            {{ field.errors }}
                                                        </small>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if current_taxes %}
                                    <table class="table">
                                        <thead class="bg-primary">
                                        <tr>
                                            <th class="text-white">Rate</th>
                                            <th class="text-white">Effective Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for tax in current_taxes %}
                                            <tr>
                                                <td>{{ tax.rate }}</td>
                                                <td>{{ tax.effective_date }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>

                                    </table>
                                {% endif %}
                                {% if form2 %}
                                    <div class="row">
                                        <div class="col-md-12 mt-3">
                                            {% if form2_tag %}
                                                <div class="col-md-12 col-md-3">
                                                    <h2>{{ form2_tag }}</h2>
                                                </div>
                                            {% endif %}
                                            <h2>{{ form2_name }}</h2>
                                        </div>

                                        {% for field in form2 %}
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    {# {% if field.label =='vehicle_type' %}#}
                                                    {# <label class="form-control-label">{{ field.label }}</label>#}
                                                    {# {% endif %}#}
                                                    <label class="form-control-label">{{ field.label }}</label>
                                                    {% render_field field class="form-control" placeholder=field.label %}
                                                    <small style="color: red">
                                                        {{ field.errors }}
                                                    </small>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% if form_address %}
                                            {% for field in form_address %}
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {# {% if field.label =='vehicle_type' %}#}
                                                        {# <label class="form-control-label">{{ field.label }}</label>#}
                                                        {# {% endif %}#}
                                                        <label class="form-control-label">{{ field.label }}</label>
                                                        {% render_field field class="form-control" placeholder=field.label %}
                                                        <small style="color: red">
                                                            {{ field.errors }}
                                                        </small>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        {% if form_phone_number %}
                                            {% for field in form_phone_number %}
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {# {% if field.label =='vehicle_type' %}#}
                                                        {# <label class="form-control-label">{{ field.label }}</label>#}
                                                        {# {% endif %}#}
                                                        <label class="form-control-label">{{ field.label }}</label>
                                                        {% render_field field class="form-control" placeholder=field.label %}
                                                        <small style="color: red">
                                                            {{ field.errors }}
                                                        </small>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                    </div>
                                {% endif %}

                                {% if client_payment_info %}
                                    <div class="row">
                                    <div class="col-md-12 mt-3">
                                        {% if client_payment_info_tag %}
                                            <div class="col-md-12 col-md-3">
                                                <h2>{{ client_payment_info_tag }}</h2>
                                            </div>
                                        {% endif %}
                                        <h2>{{ client_payment_info_name }}</h2>
                                    </div>

                                    {% for field in client_payment_info %}
                                        {% if field.name == "payment_method" %}
                                            <div class="col-md-4">
                                                <div class="form-group" id="client_payment_id">
                                                    <label class="form-control-label">{{ field.label }}</label>
                                                    {% render_field field class="form-control" placeholder=field.label %}
                                                    <small style="color: red">
                                                        {{ field.errors }}
                                                    </small>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if not field.name == "payment_method" %}
                                            <div class="col-md-4 credit_card_info" style="display: none">
                                                <div class="form-group" id="client_payment_id">
                                                    <label class="form-control-label">{{ field.label }}</label>
                                                    {% render_field field class="form-control" placeholder=field.label %}
                                                    <small style="color: red">
                                                        {{ field.errors }}
                                                    </small>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    {#                                    <div #}
                                {% endif %}
                                {% if vehicle_type %}
                                    <div class="row border-top mt-3">
                                        <div class="col-md-12 mt-3">
                                            {% if vehicle_type_tag %}
                                                <div class="col-md-12 mt-2 md-3 ml-2">
                                                    <h2>{{ vehicle_type_tag }}</h2>
                                                </div>
                                            {% endif %}
                                            <h1>{{ vehicle_type_name }}</h1>
                                        </div>
                                        {% for field in vehicle_type %}
                                            {% if field.name == "all_vehicle_type_name" %}
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="form-control-label">{{ field.label }}</label>
                                                        {% render_field field class="form-control" placeholder=field.label %}
                                                        <button class="btn-sm btn-primary" style="margin-top: 5px"
                                                                type="button" id="id-btn">
                                                            <span>&plus; Add New Vehicle Type</span>
                                                        </button>
                                                        <div id="id-input" style="display: none">
                                                            <input id="id-input-field-vehicle" class="add-manual-design"
                                                                   placeholder="Add New Vehicle Type "
                                                            />
                                                            <div class="text-white ml-8 form-inline mt-1"
                                                                 style="float:right;">
                                                                <a id="id-submit"
                                                                   class="btn-sm btn-primary mr-1"><span>Add</span></a>
                                                                <a id="id-cancel" class="btn-sm btn-danger">Cancel</a>
                                                            </div>
                                                        </div>
                                                        <small style="color: red">
                                                            {{ field.errors }}
                                                        </small>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if not field.name == "all_vehicle_type_name" %}
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="form-control-label">{{ field.label }}</label>
                                                        {% render_field field class="form-control" placeholder=field.label %}
                                                        <small style="color: red">
                                                            {{ field.errors }}
                                                        </small>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if service_type %}
                                    <div class="row border-top mt-3">
                                        <div class="col-md-12 mt-3">
                                            {% if service_type_tag %}
                                                <div class="col-md-12 mt-2 md-3 ml-2">
                                                    <h2>{{ service_type_tag }}</h2>
                                                </div>
                                            {% endif %}
                                            <h1>{{ service_type_name }}</h1>
                                        </div>
                                        {% for field in service_type %}
                                            {% if field.name == "all_service_type_name" %}
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="form-control-label">{{ field.label }}</label>
                                                        {% render_field field class="form-control" placeholder=field.label %}
                                                        <button class="btn-sm btn-primary" style="margin-top: 5px"
                                                                type="button" id="id-btn">
                                                            <span>&plus; Add New Service Type</span>
                                                        </button>
                                                        <div id="id-input" style="display: none">
                                                            <input id="id-input-field-service" class="add-manual-design"
                                                                   placeholder="Add New Service Type "/>
                                                            <div class="text-white ml-8 form-inline mt-1"
                                                                 style="float: right">
                                                                <a id="id-submit"
                                                                   class="btn-sm btn-primary mr-1"><span>Add</span></a>
                                                                <a id="id-cancel" class="btn-sm btn-danger">Cancel</a>
                                                            </div>
                                                        </div>
                                                        <small style="color: red">
                                                            {{ field.errors }}
                                                        </small>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if not field.name == "all_service_type_name" %}
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="form-control-label">{{ field.label }}</label>
                                                        {% render_field field class="form-control" placeholder=field.label %}
                                                        <small style="color: red">
                                                            {{ field.errors }}
                                                        </small>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if add_vehicle %}
                                    <div class="row border-top mt-3">
                                        <div class="col-md-12 mt-3">
                                            {% if add_vehicle_tag %}
                                                <div class="col-md-12 mt-2 md-3 ml-2">
                                                    <h2>{{ add_vehicle_tag }}</h2>
                                                </div>
                                            {% endif %}
                                            <h1>{{ add_vehicle_name }}</h1>
                                        </div>
                                        {% for field in add_vehicle %}
                                            {% if field.name == "all_vehicle_name" %}
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-control-label">{{ field.label }}</label>
                                                        {% render_field field class="form-control" placeholder=field.label %}
                                                        <button class="btn-sm btn-primary" style="margin-top: 5px"
                                                                type="button" id="id-btn">
                                                            <span>&plus; Add New Fleet</span>
                                                        </button>
                                                        <div id="id-input" style="display: none">
                                                            <input id="id-input-field-add-vehicle"
                                                                   class="add-manual-design"
                                                                   placeholder="Add New Fleet "/>
                                                            <div class="text-white ml-8 form-inline mt-1"
                                                                 style="float: right">
                                                                <a id="id-submit"
                                                                   class="btn-sm btn-primary mr-1"><span>Add</span></a>
                                                                <a id="id-cancel" class="btn-sm btn-danger">Cancel</a>
                                                            </div>


                                                        </div>
                                                        <small style="color: red">
                                                            {{ field.errors }}
                                                        </small>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if not field.name == "all_vehicle_name" %}
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-control-label">{{ field.label }}</label>
                                                        {% render_field field class="form-control" placeholder=field.label %}
                                                        <small style="color: red">
                                                            {{ field.errors }}
                                                        </small>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% if form3 %}
                                    <div class="row border-top mt-3">
                                        <div class="col-md-12 mt-3">
                                            {% if form3_tag %}
                                                <div class="col-md-12 mt-3 ml-2">
                                                    <h2>{{ form3_tag }}</h2>
                                                </div>
                                            {% endif %}
                                            <h1>{{ form3_name }}</h1>
                                        </div>
                                        {% for field in form3 %}
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-control-label">{{ field.label }}</label>
                                                    {% render_field field class="form-control" placeholder=field.label %}
                                                    <small style="color: red">
                                                        {{ field.errors }}
                                                    </small>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% if form4 %}
                                    <div class="row border-top mt-3">

                                        <div class="col-md-12 mt-3">
                                            {% if form4_tag %}
                                                <div class="col-md-12 mt-3 ml-2">
                                                    <h2>{{ form4_tag }}</h2>
                                                </div>
                                            {% endif %}
                                            <h1>{{ form4_name }}</h1>
                                        </div>
                                        <input style="display: none" id="client_address_latlong" type="text"
                                               name="client_address_latlong">
                                        {% for field in form4 %}
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-control-label">{{ field.label }}</label>
                                                    {% render_field field class="form-control" placeholder=field.label %}
                                                    <small style="color: red">
                                                        {{ field.errors }}
                                                    </small>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}


                                {% if form5 %}
                                    <div class="row border-top mt-3">
                                        <div class="col-md-12 mt-3">
                                            {% if form5_tag %}
                                                <div class="col-md-12">
                                                    <h2>{{ form5_tag }}</h2>
                                                </div>
                                            {% endif %}
                                            <h1>{{ form5_name }}</h1>
                                        </div>

                                        {% for field in form5 %}
                                            <div class="col-md-4">
                                                <div class="form-group">

                                                    <label class="form-control-label">{{ field.label }}</label>
                                                    {% render_field field class="form-control" placeholder=field.label %}

                                                    <small style="color: red">
                                                        {{ field.errors }}
                                                    </small>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col col-lg-5" id="ajax_div_chargetype"></div>
                                    <div class="col col-lg-6" id="hours_rows"></div>
                                {% endif %}
                                {% if form6 %}
                                    <div class="row border-top mt-3">
                                        <div class="col-md-12 mt-3">
                                            {% if form6_tag %}
                                                <div class="col-md-12">
                                                    <h2>{{ form6_tag }}</h2>
                                                </div>
                                            {% endif %}
                                            <h1>{{ form6_name }}</h1>
                                        </div>
                                        {% for field in form6 %}
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-control-label">{{ field.label }}</label>
                                                    {% render_field field class="form-control" placeholder=field.label %}
                                                    <small style="color: red">
                                                        {{ field.errors }}
                                                    </small>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if form7 %}
                                    <div class="row border-top mt-3">
                                        <div class="col-md-12 mt-3">
                                            {% if form7_tag %}
                                                <div class="col-md-12">
                                                    <h2>{{ form7_tag }}</h2>
                                                </div>
                                            {% endif %}
                                            <h1>{{ form7_name }}</h1>
                                        </div>
                                        {% for field in form7 %}
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-control-label">{{ field.label }}</label>
                                                    {% render_field field class="form-control" placeholder=field.label %}
                                                    <small style="color: red">
                                                        {{ field.errors }}
                                                    </small>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="col-md-8">
                                </div>
                                <div class="row d-flex justify-content-lg-end ">
                                    <div class="col-md-4 " style="margin-right: 50px">
                                        {% if skip_btn %}
                                            {% for btn in skip_btn %}

                                                <a href="{{ btn.href }}"
                                                   class="{{ btn.color_class }}"
                                                   style="height: 35px"><span>
                                                    {{ btn.title }} <i class="{{ btn.icon }}"></i></span></a>


                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="col-md-3 ml-3">
                                        {% if button_back %}
                                            {% for btn in button_back %}
                                                <a href="{{ btn.href }}"

                                                   class="{{ btn.color_class }}" style="height: 35px"><span>

                                                    <i class="{{ btn.icon }}"> </i>{{ btn.title }}</span></a>

                                            {% endfor %}

                                        {% endif %}
                                    </div>
                                    <div class="mr-1">
                                        {% if cancel_button %}
                                            <a href="{{ cancel_button_url }}" type="button"
                                               class="btn btn-primary  submit-btn">
                                                <span>{{ cancel_button }}</span>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div>
                                        {% if button %}
                                            <button type="submit"
                                                    class="btn btn-primary submit-btn">
                                                <span>{{ button }}</span>
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="refunds" class="modal fade">
            <div class="modal-dialog" style="width:5250px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="align-content: center">Select Payment Methode</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <a href="javascript;;" class="btn btn-primary ak" value="0" style="width:200px"
                           data-dismiss="modal"><span>CASH</span></a>
                        <a href="javascript;;" class="btn btn-primary ak" value="1" style="width:200px"
                           data-dismiss="modal"><span>CREDIT CARD</span></a>
                    </div>
                    {#                    <div class="modal-footer">#}
                    {#                        #}
                    {#                    </div>#}
                </div>
            </div>
        </div>
    </div>


    <script>
        const cancel_btn = document.querySelector('.alert-cancel-btn');
        if (cancel_btn) {
            cancel_btn.addEventListener("click", () => {
                const alert = document.querySelector(".alert-box");
                alert.style.display = "none"
            })
        }
    </script>
    <script>
        $('#id-cancel').click(function () {
            $("#id-input").hide();
            $("#id-btn").show();
        });
    </script>
{% endblock %}

{% block extra_js %}
    {% if messages %}
        {% for message in messages %}
            <script>
                showNotification("", "{{message}}", "{{ message.tags }}", "fa fa-check")
            </script>
        {% endfor %}
    {% endif %}

    <script>
        $(document).ready(function () {
            $('select').select2();
        });
    </script>

    <script>
        var searchInput_dest = 'id_pickup_address';
        $(document).ready(function () {
            var autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput_dest)), {
                types: ['geocode'],
            });
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var near_place = autocomplete.getPlace();
                console.log("Near Place: ", near_place)

                var destination_lat = near_place.geometry.location.lat();
                var destination_long = near_place.geometry.location.lng();
                var destination = $("#destination_latlong")
                destination.val(destination_lat.toString() + ',' + destination_long.toString())
            });
        });
    </script>
    <script>
        function datefunc(input) {
            let from_date = $('#id_from_date')
            from_date = from_date.val()
            let to_date = $('#id_to_date')
            to_date = to_date.val()
            from_date = Date.parse(from_date)
            to_date = Date.parse(to_date)
            let no_of_day = to_date - from_date
            no_of_day = no_of_day / 86400000
            $('#id_no_of_days').val(no_of_day)
            let rate_per_day = $('#id_rate_per_day')
            rate_per_day = rate_per_day.val()
            let fare_of_total_days = rate_per_day * no_of_day
            $('#id_base_fare').val(fare_of_total_days)
        }
    </script>

    <script>
        $('#id-btn').on('click', function () {
            $('#id-input').show()
            $('#id-btn').hide()
        })
    </script>




    <script>
        $(".calculate_total_fee").on('keyup', function () {
            let material_fee = $("#id_material_fee").val()
            let tuition_fee = $("#id_tuition_fee").val()
            let application_fee = $("#id_application_fee").val()
            let discount = $("#id_discount").val()
            if (material_fee && tuition_fee && application_fee) {
                let fee = parseInt(material_fee) + parseInt(tuition_fee) + parseInt(application_fee)
                if (discount) {
                    fee = fee - parseInt(discount)
                }
                $("#id_total_fee").val(fee)
                $("#id_total_required_fee").val(fee)
                let course = $("#id_course")
                let url = "{% url 'get_course_quarters' %}?course_id=" + course.val()
                $.get(url, function (response, success) {

                    let quarters = response.data.quarters
                    console.log("this is response=========", quarters)
                    $("#id_quarterly_fee_amount").val(parseFloat(tuition_fee / quarters))
                    $("#id_course_quarters").val(parseInt(quarters))
                })
            }
        })
    </script>
        <script>
            $("#id_course").on('change blur', function () {
                let course = $(this).val()
                let url = "{% url 'get_course_quarters' %}?course_id=" + course
                $.get(url, function (response, success) {

                    let quarters = response.data.quarters
                    $("#id_course_quarters").val(parseInt(quarters))
                })
                $("#id_course_quarters").val(parseInt(0))
            })
        </script>



    <script>
        $("#id_tuition_fee").on('keyup', function () {
            let agent_name = $("#id_agent_name")
            let tuition_fee = $("#id_tuition_fee").val()
            agent_name = agent_name.val()
            let url = "{% url 'get-agent-commission' %}?agent_id=" + agent_name
            $.get(url, function (response, success) {
                console.log("this is response=========", response)
                let commission = response.data.commission
                let gst = response.data.gst

                console.log("this is commision ===", commission)
                let commission_amount = (commission / 100) * parseInt(tuition_fee)
                console.log("this is tuition fee==========", tuition_fee, '=== this is commision amount====', commission_amount)
                let gst_commission_amount = (commission_amount / 100 * 10)
                console.log("this is the commission amount and GST amount===============", commission_amount, '=====', gst_commission_amount)
                let latest_commission_amount = commission_amount + gst_commission_amount
                console.log("this is commission amount==", commission_amount)
                let agent_commission = $("#id_total_commission_amount").val(latest_commission_amount)
            })


        })
    </script>
    <script>
        $('#id_student').on("change", function () {
            let select = $(this)
            let student = select.val()
            let url = "{% url 'get-student-fee-details' %}?student=" + student
            $.get(url, function (response, success) {
                let student_data = response.data
                $("#id_total_fee").val(student_data.total_fee)
                $("#id_total_required_fee").val(student_data.total_required_fee)
                $("#id_outstanding_fee").val(student_data.outstanding_fee)
                $("#id_paid_fee").val(student_data.already_paid_amount)
            })
        })
    </script>
    <script>
        $('#id_student').on("change", function () {
            let select = $(this)
            let student = select.val()
            let url = "{% url 'get-student-agent-details' %}?student=" + student
            $.get(url, function (response, success) {
                let student_data = response.data
                let agent_gst_amount = student_data.agent_gst
                console.log("this is data==", student_data)
                $("#id_agent_name").val(student_data.agent)
                $("#id_agent_commission_percentage").val(student_data.agent_commission_percentage)
                $("#id_agent_commission_amount").val(student_data.agent_commission_amount)
                $("#id_total_commission_paid").val(student_data.total_commission_paid_till_now)
                $("#id_current_commission_amount").val(student_data.commission_to_pay)
                calculate_fee(agent_gst_amount)

            })
        })
    </script>
    {#    <script>#}
    {#            $('#id_student_paid_fee').on("keyup", function () {#}
    {#            let select = $(this)#}
    {#            let commission_percentage = $("#id_agent_commission_percentage").val()#}
    {#            let student = select.val()#}
    {#            $("#id_current_commission_amount").val((student / 100) * commission_percentage)#}
    {#        })#}
    {#    </script>#}

    <script>
        function calculate_fee(agent_gst_amount) {
            let select = $("#id_current_commission_amount")
            let commission_percentage = $("#id_agent_commission_percentage").val()
            let commission_amount = select.val()
            if (commission_percentage) {
                $("#id_student_paid_fee").val(((commission_amount - (commission_amount / 11)) * 100) / commission_percentage)
            } else {
                $("#id_student_paid_fee").val(0)
            }
        }
    </script>
    <script>
        $('#id_current_commission_amount').on("keyup", function () {
                let select = $(this)
                let commission_percentage = $("#id_agent_commission_percentage").val()
                let student = select.val()
                if (commission_percentage) {
                    $("#id_student_paid_fee").val((student * 100) / commission_percentage)
                } else {
                    $("#id_student_paid_fee").val(0)
                }
            }
        )
    </script>
    <script>
        $("#id_weeks").on('keyup', function () {
            let value = $(this).val()
            let months = value / 4.34
            months = months.toFixed(0);
            $("#id_months").val(months)
            let quarter = months / 3
            quarter = quarter.toFixed(0);
            $("#id_quarters").val(quarter)
        })
    </script>


{% endblock %}