{% extends 'dashboard/base.html' %}
{% load static %}
{% block extra_styles %}
    {% include 'dashboard/partials/datatable-styles.html' %}
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/messages.css' %}">
{% endblock %}
{% block nav %}
    {{ nav_bar }}
{% endblock %}
{% block main %}
    <div class="main-content" id="panel">
        <!-- Topnav -->
        {% include 'dashboard/company/partials/top-nav.html' %}
        <!-- Header -->
        <!-- Header -->
        {% include 'dashboard/company/partials/header.html' %}
        <!-- Page content -->
        <div class="container-fluid mt--6">
            <!-- Table -->
            <div class="row">
                <div class="col">
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header">
                            <h3 class="mb-0">Change Password</h3>
                            <p class="text mb-10">Here you can change your password
                            </p>
                        </div>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <div class="alert-box">
                                        <li class="{{ message.tags }}">
                                            {{ message|safe }}
                                            <a href="#" class="alert-cancel-btn">&times;</a>
                                        </li>
                                    </div>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row" style="justify-content: space-around">
                                <div class="form-group col-4">
                                    <label class="form-control-label ml-3">Current Password</label>
                                    <input type="password" name="currentpassword" maxlength="150"
                                           placeholder="current password"
                                           class="form-control ml-3" id="id_first_name" required="true">
                                </div>
                                <div class="form-group col-4">
                                    <label class="form-control-label ml-3">New Password</label>
                                    <input type="password" name="newpassword" maxlength="150"
                                           placeholder="new password"
                                           class="form-control ml-3" id="id_first_name" required="true">
                                </div>
                                <div class="form-group col-3 mr-4">
                                    <label class="form-control-label ml-3">Confirm Password</label>
                                    <input type="password" name="confirmpassword" maxlength="150"
                                           placeholder="confirm password"
                                           class="form-control ml-3" id="id_first_name" required="true">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-11">

                                </div>
                            <div class="col-1 mb-2">
                                <button class="btn btn-primary"><span>Submit</span></button>
                            </div>
                                </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const cancel_btn = document.querySelector('.alert-cancel-btn');
        if (cancel_btn) {
            cancel_btn.addEventListener("click", () => {
                const alert = document.querySelector(".alert-box");
                alert.style.display = "none"
            })
        }
    </script>





{% endblock %}