{% load widget_tweaks %}
{% csrf_token %}
<div class="row" style="margin-top: 22px">
    {% for field in form %}
        <div class="form-group {{ form_class }}">
            <small>{{ field.field.widget.attrs.label }}</small>
            <div class="">
                {% if readonly == 'readonly' %}
                    <label class="form-control-label label-form-dex">{{ field.label }} :</label>
                    {% render_field field class="form-control" placeholder=field.label readonly=readonly %}
                {% else %}
                    <label class="form-control-label label-form-dex">{{ field.label }} :</label>
                    {% render_field field class='form-control' placeholder=field.label %}

                {% endif %}
                {% for error in field.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    {#    <div class="col col-lg-5" id="ajax_div_chargetype"></div>#}
    {% if client_form %}
        <input style="display: none" id="client_address_latlong" type="text"
               name="client_address_latlong">
    {% endif %}
    {% if add_client %}
        <div class="add-client-res-btn">
            <a type="button" style="border-radius: 50%; " class="btn-primary client-btn reservation_btn"><span> <i
                    class="fa fa-plus"></i></span>

            </a>
        </div>
    {% endif %}
</div>


<script>
    var searchInput_dest = 'id_address';
    $(document).ready(function () {
        var autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput_dest)), {
            types: ['geocode'],
        });
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var near_place = autocomplete.getPlace();
            console.log("Near Place: ", near_place)
            var destination_lat = near_place.geometry.location.lat();
            var destination_long = near_place.geometry.location.lng();
            var destination = $("#client_address_latlong")
            destination.val(destination_lat.toString() + ',' + destination_long.toString())
        });
    });
</script>
<script>
    valid_email = false
    valid_username = false
    key = $("#id_username").val()
    console.log("thiws is the previous value of trhe username", key)
    $("#id_username").on("change", function () {
        validate_details($(this))
    })
    $("#id_email").on("change", function () {
        validate_details($(this))
    })

    function validate_details(elem) {
        let value = elem.val()
        let name = elem.attr("name")
        let btn = $(".submit-btn")
        url = `{% url 'check-email-exist' %}?name=${name}&value=${value}&key=${key}`
        $.get(url, function (response, success) {
            if (name.includes("email")) {
                valid_email = response.success
                valid_username = response.success
            } else {
                valid_username = response.success
                valid_email = response.success
            }
            if (!response.success) {
                elem.siblings("small").html(response.message).css("color", "red")
                validate_btn(btn)
            } else {
                elem.siblings("small").html(response.message).css("color", "green")
                validate_btn(btn)
            }
        })
    }

    function validate_btn(btn) {
        if (valid_email && valid_username) {
            btn.removeAttr("disabled")
        } else {
            btn.attr("disabled", "")
        }
    }
</script>
<script>
    $(document).ready(function () {
        $(".reservation_btn").on("click", function (e) {
            swal({
                showConfirmButton: false,
                showCancelButton: true,
                cancelButtonColor: 'Crimson',
                html: `
      <div class="" style="height: 24px;">
      <p> Please select the type of Client</p>
        <a class="btn btn-primary"  href="{% url 'company-add-client' 1%}"><span>Corporate Client</span></a>
        <a class="btn btn-primary" href="{% url 'company-add-client'  2%}"><span>Individual Client</span></a>
      </div>`
            });
            $(".select2-selection").hide();
        });
    });
</script>
