{% extends 'dashboard/base.html' %}
{% load django_tables2 %}
{% load static %}

{% block extra_styles %}

    {% load widget_tweaks %}
    {% include 'dashboard/partials/datatable-styles.html' %}
{% endblock %}
{% block nav %}
    {{ nav_bar }}
{% endblock %}
{% block main %}

    <div class="main-content" id="panel">
        {% include 'dashboard/company/partials/header.html' %}
        <div class="container-fluid mt--6">

            <div class="row">
                <div class="col">
                    <div class="card">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <script>
                                        showNotification("", "{{message}}", "{{ message.tags }}", "fa fa-check")
                                    </script>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <!-- Card header -->
                        <div class="card-header form-inline">
                            <div class="col-lg-6 col-7">
                                <h2 class="mb-0"><strong>{{ page_title }}</strong></h2>

                            </div>
                            <div class="col-lg-6 col-5 text-right">
                                {#                                    <a href="#" class="action-btn" data-original-title="Download">#}
                                {#                                        <span class="btn-inner--icon"><i class="fas fa-download"></i></span>#}
                                {#                                    </a>#}
                            {% if export_enable %}
                                <button type="button" id="export_button" class="btn btn-success btn-sm">Export</button>
                            {% endif %}
                                {% for link in links %}
                                    {% if  not link.log == "log" and not link.log == "log2" %}
                                        <a {{ link.attrs }} href="{{ link.href }}"
                                                            class="btn btn-sm {{ link.color_class }}"
                                                            data-toggle="{{ link.data_toggle }}"
                                                            data-target="{{ link.data_target }}"
                                                            data-name="{{ link.data_name }}"><span><i
                                                class="{{ link.icon }}"></i> {{ link.title }}</span></a>

                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% if not client_form %}
                            {% if not reservation_form %}
                                <div class="table-responsive">
                                    {% render_table table %}

                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="refund" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" action="{{ redirect_from_modal }}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Refund Fee?
                        </h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">

                        <p class="bold">Make sure before you Refund. This action will Stop all related data and will
                            never be resumed.
                            Please Select an Option Below</p>
                        <h4 class="bold text-underline">Reason:</h4>
                        <textarea placeholder="please enter the reason of refunding!" rows='4' cols='50'
                                  name='refund_reason' id="refund_reason_id" required></textarea>
                        <br>
                        <h4 class="bold text-underline">Fee Amount:</h4>
                        <input id="refund_amount" name="refund_amount" type="number" class="form-control" placeholder="Fee Amount" required>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><span>Cancel</span></button>
                        <button type="Submit" class="btn btn-danger confirm">Confirm</button>
                    </div>
                </form>

            </div>
        </div>
    </div>






    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><span>Cancel</span></button>
                    <a href="javascript:;" type="button" class="btn btn-danger confirm">Confirm</a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><span>Close</span></button>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_js %}

    {% if messages %}
        {% for message in messages %}
            <script>
                showNotification("", "{{message}}", "{{ message.tags }}", "fa fa-check")
            </script>
        {% endfor %}
    {% endif %}


    {% include 'dashboard/partials/datatables-scripts.html' %}
    <script>
        $(document).ready(function () {
            $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var name = button.data('name') // Extract info from data-* attributes
                var url = button.data('whatever') // Extract info from data-* attributes
                var modal = $(this)
                modal.find('.modal-title').html('Delete <strong>' + name + '</strong>`')
                modal.find('.modal-body')
                    .html(`<p>Make sure before you Delete. This action will Permenently delete every data related to <code class="text-dark">${name}</code> and will never be restored.</p>
                                `)
                modal.find('a.confirm').attr('href', url)
            })
            $('#detailModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var name = button.data('name') // Extract info from data-* attributes
                var url = button.data('url') // Extract info from data-* attributes
                var modal = $(this)
                modal.find('.modal-body')
                    .html("<i class='fa fa-sync fa-spin'></i>")
                modal.find('.modal-title').html('<strong>' + name + '</strong>')
                $.get(url, function (response, success) {
                    modal.find('.modal-body').html(response)
                })

            })

        })

    </script>
    <script>
        const cancel_btn = document.querySelector('.alert-cancel-btn');
        if (cancel_btn) {
            cancel_btn.addEventListener("click", () => {
                const alert = document.querySelector(".alert-box");
                alert.style.display = "none"
            })
        }
    </script>
    <script>
        window.toggleFields = function toggleFields() {
            $('#fields').toggle();
        }
    </script>
    <script>
        $(".dispatch_dropdown_class").on('change', function () {
            let select = $(this)
            name = select.find("option:selected").html()
            data_url = select.attr('data-url')
            data_url = data_url + '?name=' + name
            console.log("this is the url", data_url)
            $.get(data_url, function (response, success) {
            })
        })

    </script>


    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script>
        function html_table_to_excel(type) {
            var data = document.getElementById('printableArea');

            var file = XLSX.utils.table_to_book(data, {sheet: "sheet1"});

            XLSX.write(file, {bookType: type, bookSST: true, type: 'base64'});

            XLSX.writeFile(file, 'file.' + type);
        }

        const export_button = document.getElementById('export_button');

        export_button.addEventListener('click', () => {
            html_table_to_excel('xlsx');
        });
    </script>

{% endblock %}
