{% extends "dashboard/base.html" %}
{% load static %}
{% block main %}


    <div class="main-content" id="panel">

        {#        {% include 'dashboard/company/partials/top-nav.html' %}#}
        <!-- Header -->
        <!-- Header -->
        {% include 'dashboard/company/partials/header.html' %}
        <div class="container "
             style="min-height: 69.75vh;">
            <div class="card" style="margin-top: 4%">
                {% if login_page %}
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="card-header">
                            {#                        <h1 class="heading-title"#}
                            {#                            style="color: #204949l; margin-left: 30%;margin-top: 3%;font-size: 40px">#}
                            {#                            ACMi Portal Login</h1>#}
                            <img src="{% static 'assets/img/logo2.jpg' %}" style="margin-left: 15%">
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <fieldset id="email-field" class="with-placeholder">
                                        <legend>Username</legend>
                                        <div>
                                            <input class=" form-control" type="username" name="username" id="email"
                                                   autocomplete="off"
                                                   autocorrect="off"
                                                   autocapitalize="off"
                                                   spellcheck="false" required/>
                                            <div class="placeholder"></div>
                                        </div>
                                    </fieldset>
                                    <fieldset id="password-field">
                                        <legend>Password</legend>
                                        <div>
                                            <input class=" form-control" type="password" name="password" id="password"
                                                   autocomplete="off" autocorrect="off"
                                                   autocapitalize="off" spellcheck="false" required/>
                                        </div>
                                    </fieldset>
                                    <fieldset id="submit-field">
                                        <legend></legend>
                                        <div>
                                            <button class=" btn btn-md btn-primary float-right" type="submit"
                                                    name="submit"
                                                    id="submit"
                                                    value="Login"><span>Login</span>
                                            </button>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-2"></div>

                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>

        <footer>
            <h3 style="color: #0a0a0a; display: flex;justify-content: center;">Copyright of <a target="_blank"
                                                                                               href="https://www.acmi.wa.edu.au/"
                                                                                               style="color: #8e0615">ACMi</a>
            </h3>
        </footer>


        <!-- Page content -->

        <!-- Footer -->
        <footer class="footer pt-3 bg-primary" style="height: 58px">
            <div class="row align-items-center justify-content-between pr-4 pl-4">
                <div class="col-lg-6">
                    <div class="copyright text-center  text-lg-left  text-white">
                        <a style="color: white" href="/" class="font-weight-bold ml-1" target="_blank">ACMi Fee
                            Management System</a>
                        &copy;<span
                            id="copy-year"></span> All Right Reserved!
                    </div>
                </div>
                <div class="col-lg-6" style="display: flex;justify-content: end">
                    <div class="copyright text-center  text-lg-left  text-white">
                        <span>Developed & Designed By <a style="color: white" href="https://binarymindtechnologies.com/"
                                                         class="font-weight-bold ml-1"
                                                         target="_blank">BinaryMind Technologies</a></span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}

