<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                </div>
                <div class="col-lg-6 col-5 text-right">
                    {% for link in links %}
                        <a href="{{ link.href }}" class="btn btn-sm {{ link.color_class }}"target="_blank"><i
                                class="{{ link.icon }}"></i> {{ link.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>